@require '../../../style/var.styl';

:host {
  position: relative;
  display: block;
}

md-form-field {
  width: 100%;
}

input {
  width: calc(100% - $igo-icon-size);
}

button {
  position: absolute;
  right: 0;
  top: 0;
}
