<mat-card appearance="outlined">
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Catalog</mat-card-title>
  <mat-card-content>
    <li>Dependencies: ConfigService, LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/catalog">code of this example</a><br>
    See catalog section of the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/environments"> environment config</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Catalog Library">
    <igo-catalog-library
      [store]="catalogStore"
      (catalogSelectChange)="onCatalogSelectChange($event)">
    </igo-catalog-library>
  </igo-panel>

  <igo-panel title="Catalog Browser">
    <igo-catalog-browser
      [catalog]="catalog"
      [store]="catalogItemStore"
      [map]="map">
    </igo-catalog-browser>
  </igo-panel>

</mat-card>
