<mat-card appearance="outlined">
  <mat-card-subtitle>Core</mat-card-subtitle>
  <mat-card-title>Media</mat-card-title>
  <mat-card-content>
    <p>Detect type of media (mobile, tablet, desktop)</p>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/core/media">code of this example</a>
    <hr>
  </mat-card-content>

  <p>Current media: {{media}}</p>
  <p>Current orientation: {{orientation}}</p>
  <p>Device mode:  {{isTouchScreen ? 'Touch device' : 'Not a touch device '}}</p>
</mat-card>
