button {
  border-radius: 0;
  background-color: var(--mat-sys-on-primary-container);
  color: var(--mat-sys-on-primary);

  &:hover {
    color: var(--mat-sys-on-primary-container);
    background-color: var(--mat-sys-primary-container);
  }
}
