@require '../../shared/collapsible/collapsible.component.styl';

// padding - mat-list padding - md-icon padding
$igo-search-tool-padding = $igo-collapsible-content-padding - 8px;

:host >>> .igo-collapsible-content > .igo-flexible-main .igo-container {
  padding: 0 $igo-search-tool-padding !important;
}

