<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar mat-elevation-z6">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <h1>{{ title }}</h1>
    <h5 class="mat-subtitle-1 m-b-0">{{ version.lib }}</h5>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 48 : 0"
  >
    <mat-sidenav
      #snav
      opened="true"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="48"
    >
      <mat-accordion displayMode="flat" multi>
        <ng-container *ngFor="let routeConfig of routesConfig">
          <ng-container *ngIf="!routeConfig.children; else routeWithChildren">
            <mat-nav-list>
              <a
                mat-list-item
                [routerLink]="routeConfig.path"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active-link"
                class="p-h-24 m-t-8"
                >{{ routeConfig.title }}</a
              >
            </mat-nav-list>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-template #routeWithChildren>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ routeConfig.title }} </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a
                  *ngFor="let route of routeConfig.children"
                  mat-list-item
                  [routerLink]="routeConfig.path + '/' + route.path"
                  routerLinkActive="active-link"
                  >{{ route.title }}</a
                >
              </mat-nav-list>
            </mat-expansion-panel>

            <mat-divider></mat-divider>
          </ng-template>
        </ng-container>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
