@use 'sass:map';
@use '@angular/material' as mat;

@use '../../../../packages/core/src/theming/material';

@include material.theme(
  material.$blue-theme,
  material.$blue-defined-theme,
  'blue'
);

body {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-on-primary-container),
      container-text-color: var(--mat-sys-on-primary),
      standard-height: 56px
    )
  );

  mat-toolbar {
    @include mat.icon-overrides(
      (
        color: white
      )
    );
  }

  .active-link span {
    color: var(--mat-sys-on-primary-fixed-variant);
  }
}
