@require '../../../../style/var.styl';

:host {
  position: relative;
  display: block;
}

:host, .igo-map-browser-target {
  width: 100%;
  height: 100%;
}

input {
  width: 100%
}

md-form-field {
  width: 100%;
}
