@use '../../../../core/src/style/partial/media';

:host {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .igo-tool-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
  }

  .igo-tool-container-with-animation {
    transform: translate3d(100%, 0, 0);
  }

  .igo-tool-container-with-toolbar {
    left: 50px;
  }

  igo-actionbar {
    height: 100%;
  }

  igo-actionbar.with-title {
    width: 100%;
    overflow: auto;
  }

  igo-actionbar:not(.with-title) {
    width: 48px;
    overflow: hidden;
    -moz-box-shadow: 2px 0px 2px 0px #dddddd;
    -webkit-box-shadow: 2px 0px 2px 0px #dddddd;
    -o-box-shadow: 2px 0px 2px 0px #dddddd;
    box-shadow: 2px 0px 2px 0px #dddddd;

    @include media.mobile {
      overflow: auto;
    }
  }

  igo-dynamic-outlet {
    overflow: auto;
  }

  &.color-primary {
    igo-actionbar:not(.with-title) {
      color: var(--mat-sys-on-primary);
      background-color: var(--mat-sys-on-primary-container);

      ::ng-deep {
        button {
          color: var(--mat-sys-on-primary);
        }
      }

      #lowChevron,
      #topChevron {
        background-color: var(--mat-sys-primary-container);
        color: white;
      }
    }
  }

  ::ng-deep {
    &.color-grey > igo-actionbar:not(.with-title) {
      box-shadow: unset;
      background-color: #737475;
      #lowChevron,
      #topChevron {
        background-color: #737475;
        color: white;
      }
    }

    &.color-primary,
    &.color-grey {
      & > igo-actionbar:not(.with-title) mat-list.mat-mdc-list-base {
        .mat-mdc-list-item.mdc-list-item--with-leading-avatar {
          color: white;
          &:hover {
            color: black;
          }

          &.tool-activated,
          &.children-tool-activated {
            color: var(--mat-sys-on-primary);
            background-color: var(--mat-sys-on-primary-container);
            color: black;
          }
        }
      }
    }

    > igo-actionbar {
      &:not(.with-title) {
        > mat-list {
          & > #lowChevron,
          & > #topChevron {
            &:hover {
              background-color: var(--mat-sys-secondary-container);
              color: black;
            }
          }

          mat-list-item {
            color: var(--mat-sys-on-primary-container);
          }
        }
      }

      mat-list.mat-mdc-list-base igo-actionbar-item mat-list-item {
        &:hover {
          color: var(--mat-sys-on-primary-container);
          background-color: var(--mat-sys-primary-container);

          button {
            color: var(--mat-sys-on-primary-container) !important;
          }
        }

        &.tool-activated,
        &.children-tool-activated {
          color: var(--mat-sys-on-background);
          background-color: var(--mat-sys-on-primary);

          button {
            color: var(--mat-sys-on-background) !important;
            cursor: default;
          }
        }
      }
    }
  }
}
