@use 'sass:map';
@use '@angular/material' as mat;

@mixin igo-toolbox-theming($theme) {
  @include density($theme);
}

@mixin density($theme) {
  $density: mat.get-theme-density($theme);
  $theme: map.merge(
    $theme,
    (
      density: $density - 2
    )
  );

  igo-toolbox {
    igo-actionbar-item {
      @include mat.list-density($theme);
    }
  }
}
