*.ts
!*.d.ts

/lib/typings.json
/node_modules/
/.gitignore
/.npmignore
/.travis.yml

/karma.conf.js

/rollup.config.js
/rollup-min.config.js

/systemjs.config.js

/demo-app/tsconfig*.json
/lib/tsconfig*.json