/node_modules/
/guides/
/documentation/
/e2e/

# src
/src/demo-app/
/src/test/

.npmignore
.gitignore
CONTRIBUTING.md
*.tgz


# Ignore configurations
*.conf.*
tsconfig*.json
tslint.json
gulpfile.js
.*

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts
