@use 'sass:map';
@use '@angular/material' as mat;

@mixin igo-message-theming($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $typography: mat.m2-get-typography-config($theme);

  .toast-error {
    background-color: mat.m2-get-color-from-palette($warn) !important;
  }

  .toast-info {
    background-color: mat.m2-get-color-from-palette($primary) !important;
  }

  .toast-no-icon {
    background-image: none;
    padding-left: 6%;
  }

  .toast-title {
    font-weight: bold;
  }
}
