@use '@angular/material' as mat;

:host {
  ::ng-deep mat-list-item:hover {
    cursor: pointer;
  }

  @include mat.list-overrides(
    (
      list-item-leading-avatar-size: 48px
    )
  );

  .mdc-icon-button {
    @include mat.icon-button-overrides(
      (
        state-layer-size: 48px
      )
    );
  }

  mat-list-item {
    padding-right: 0px;

    &.igo-actionbar-item-disabled {
      color: rgba(0, 0, 0, 0.26);
      cursor: default !important;
    }

    &.igo-actionbar-item-no-display {
      display: none;
    }

    ::ng-deep {
      button {
        &[matlistitemavatar] {
          margin-left: 0;
          background-color: inherit;
        }

        .mat-mdc-button-persistent-ripple {
          display: none;
        }
      }
    }
  }

  .item-checkbox ::ng-deep mat-checkbox label {
    margin-left: 28px;
  }

  .actionbar-item {
    [matline] {
      padding-left: 16px;
    }
  }
}
