@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include density($theme);
  @include typography($theme);
}

@mixin density($theme) {
  $density: mat.get-density-config($theme);
  $theme: map.merge(
    $theme,
    (
      density: $density - 2
    )
  );

  igo-actionbar-item {
    @include mat.icon-button-density($theme);
    @include mat.list-density($theme);
  }
}

@mixin typography($theme) {
  $typography: mat.get-typography-config($theme);

  igo-actionbar-item {
    mat-checkbox label {
      font-size: mat.font-size($typography, body-1);
    }
  }
}
