<mat-card appearance="outlined">
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Hover</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/hover">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view"
  igoHoverFeature
  [igoHoverFeatureDelay]="pointerHoverFeatureDelay"
  [igoHoverFeatureEnabled]="true">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
    <igo-geolocate-button [map]="map" color="primary"></igo-geolocate-button>
    <igo-home-extent-button [map]="map" color="primary"></igo-home-extent-button>
    <igo-rotation-button [map]="map" [showIfNoRotation]="true" color="primary"></igo-rotation-button>
  </igo-map-browser>

</mat-card>
