$colorFont: #888;

:host {
  z-index: 999;
}

div.login {
  z-index: 200;
  width: 90%;
  min-width: 360px;
  max-width: 600px;
  padding: 24px 48px;
  border: 1px solid;
  background-color: #fff;
  border-color: $colorFont;

  h3 {
    margin-top: 0;
  }
}

.center-block {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.backgroundDisable {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: 100;
  height: 100%;
  width: 100%;
}
