@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include color($theme);
}

@mixin color($theme) {
  $background: map.get($theme, background);

  igo-auth-intern {
    .loading-container {
      background-color: change-color(
        $color: mat.m2-get-color-from-palette($background, status-bar),
        $alpha: 0.64
      );
    }
  }
}
