<mat-card appearance="outlined">
  <mat-card-subtitle>Core</mat-card-subtitle>
  <mat-card-title>config</mat-card-title>
  <mat-card-content>
    <p>Load config in your angular application</p>

    <li>Import <code>IgoConfigModule</code> only once</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/core/config"> code of this example</a> <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/environments"> environment config</a>
    <hr>
  </mat-card-content>

  <p>Config language: {{configLanguage | json }}<p>

</mat-card>
