<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Simple Map</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/simple-map">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view"
  igoPointerPosition
  [pointerPositionDelay]="pointerCoordDelay"
  (pointerPositionCoord)="onPointerMove($event)">
    <igo-info-section [infoContent]="pointerCoord"></igo-info-section>
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
    <igo-geolocate-button [map]="map" color="primary"></igo-geolocate-button>
    <igo-rotation-button [map]="map" [showIfNoRotation]="true" color="primary"></igo-rotation-button>
  </igo-map-browser>

</mat-card>

<p *ngIf="!isTouchScreen">{{pointerCoord}}</p>