@require '../../../style/var.styl';

.igo-zoom-button-container {
  width: $igo-icon-size;
  button {
    background-color: #fff;
  }
}

.igo-zoom-button-container button:first-child {
  margin-bottom: 2px;
}

button,
:host >>> button .mat-button-ripple-round {
  border-radius: 0;
}
