<mat-card appearance="outlined">
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Query</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/query">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser
    [map]="map"
    [view]="view"
    igoOverlay
    igoQuery
    [queryFeatures]="true">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel>
    <igo-spatial-filter-type
      [store]="spatialListStore"
      [selectedQueryType]="queryType"
      [zone]="zone"
      [layers]="activeLayers"
      (eventType)="getOutputType($event)"
      (eventQueryType)="getOutputQueryType($event)"
      (zoneChange)="onZoneChange($event)"
      (zoneWithBufferChange)="onZoneChange($event, true)"
      (bufferChange)="buffer = $event"
      (measureUnitChange)="measureUnit = $event">
    </igo-spatial-filter-type>

    <igo-spatial-filter-item
      [type]="type"
      [queryType]="queryType"
      [map]="map"
      [zone]="zone"
      [loading]="loading"
      [store]="store"
      [layers]="activeLayers"
      [allLayers]="layers"
      [thematicLength]="thematicLength"
      (radiusEvent)="buffer = $event"
      (bufferEvent)="buffer = $event"
      (measureUnitChange)="measureUnit = $event"
      (freehandControl)="freehandDrawIsActive = $event"
      (drawZoneEvent)="zone = $event"
      (zoneWithBufferChange)="onZoneChange($event, true)"
      (itemTypeChange)="itemType = $event"
      (thematicChange)="thematics = $event"
      (toggleSearch)="getOutputToggleSearch()"
      (clearButtonEvent)="clearMap()"
      (clearSearchEvent)="getOutputClearSearch()">
    </igo-spatial-filter-item>
  </igo-panel>

  <igo-panel>
    <ng-container *ngIf="selectedFeature$ | async as feature">
      <igo-feature-details [feature]="feature"></igo-feature-details>
    </ng-container>
  </igo-panel>
</mat-card>