<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Spatial filter</mat-card-title>
  <mat-card-content>
    <li>npm install --save moment@2.22.2</li>
    <li>npm install --save @mat-datetimepicker/core@3.0.0-beta.0</li>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/spatial-filter">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser
    [map]="map"
    [view]="view"
    igoOverlay igoQuery
    (query)="handleQueryResults($event)"
    [queryFeatures]="true">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Spatial Filter">
    <igo-spatial-filter-type
      [store]="spatialListStore"
      [selectedQueryType]="queryType"
      [zone]="zone"
      (eventType)="getOutputType($event)"
      (eventQueryType)="getOutputQueryType($event)"
      (zoneChange)="onZoneChange($event)">
    </igo-spatial-filter-type>

    <igo-spatial-filter-item
      [type]="type"
      [queryType]="queryType"
      [map]="map"
      [zone]="zone"
      [loading]="loading"
      [store]="store"
      [layers]="layers"
      (radiusEvent)="radius = $event"
      (freehandControl)="freehandDrawIsActive = $event"
      (drawZoneEvent)="zone = $event"
      (itemTypeChange)="itemType = $event"
      (thematicChange)="thematics = $event"
      (toggleSearch)="getOutputToggleSearch()"
      (clearButtonEvent)="layers = $event"
      (clearSearchEvent)="getOutputClearSearch()">
    </igo-spatial-filter-item>
  </igo-panel>

  <igo-panel title="Details">
    <ng-container *ngIf="selectedFeature$ | async as feature">
      <igo-feature-details [feature]="feature"></igo-feature-details>
    </ng-container>
  </igo-panel>

</mat-card>
