<mat-card appearance="outlined">
  <mat-card-subtitle>Common</mat-card-subtitle>
  <mat-card-title>Entity Selector</mat-card-title>
  <mat-card-content>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/common/entity-selector">code of this example</a>
  </mat-card-content>

  <igo-entity-selector
    [store]="store"
    [titleAccessor]="getTitle"
    [emptyText]="''"
    [placeholder]="'Select an entity'"
    (selectedChange)="onSelectedChange($event)">
  </igo-entity-selector>

  <div *ngIf="selected$ | async as selected">
    <p>ID: {{selected.id}}</p>
    <p>Name: {{selected.name}}</p>
    <p>Description: <span [innerHtml]="selected.description"></span></p>
  </div>
</mat-card>
