@require '../../../style/var.styl';

.igo-bookmark-container {
  width: $igo-icon-size;
  button {
    background-color: #fff;
  }
}

button,
:host >>> button .mat-button-ripple-round {
  border-radius: 0;
}
