$mobile: 'only screen and (max-width: 450px), only screen and (max-height: 450px)';
$tablet: 'only screen and (min-width: 451px) and (min-height: 451px) and (max-width: 800px)';
$desktop: 'only screen and (min-width: 801px)';

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}
