@use 'sass:map';
@use '@angular/material' as mat;
@use './palette';

// https://design.quebec.ca/bases/polices-caracteres
// https://design.quebec.ca/bases/niveaux-titres
// https://material.angular.io/guide/typography
$typography: mat.define-typography-config(
    $font-family: '"Open Sans", sans-serif',
  $headline-1: mat.define-typography-level(110px, 110px, 500),
  $headline-2: mat.define-typography-level(54px, 54px, 500),
  $headline-3: mat.define-typography-level(43px, 46px, 500),
  $headline-4: mat.define-typography-level(32px, 38px, 500),
  // h1
  $headline-5: mat.define-typography-level(48px, 56px, bold),
  // h2
  $headline-6: mat.define-typography-level(36px, 40px, bold),
  // h3
  $subtitle-1: mat.define-typography-level(28px, 32px, bold),
  // h4
  $subtitle-2: mat.define-typography-level(21px, 24px, bold),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $body-2: mat.define-typography-level(12px, 18px, 400),
  $caption: mat.define-typography-level(12px, 18px, 400),
  $button: mat.define-typography-level(13px, 13px, 500)
);

$typography-mobile: mat.define-typography-config(
  // h1
  $headline-5: mat.define-typography-level(36px, 40px, bold),
  // h2
  $headline-6: mat.define-typography-level(28px, 32px, bold),
  // h3
  $subtitle-1: mat.define-typography-level(25px, 32px, bold)
);

$font-color: map.get(palette.$palette, 700);

body {
  color: $font-color;
}

a {
  word-break: break-word;
  overflow-wrap: break-word;
  cursor: pointer;
  color: #095797;
  text-decoration: underline;
  background-color: transparent;
}

p,
ul,
li,
u,
.text {
  color: $font-color;
  font-size: 16px;
  line-height: 24px;
}

p {
  margin-bottom: 24px;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Roboto, sans-serif !important;
  color: $font-color;
}

h1 {
  margin-top: 72px !important;
  margin-bottom: 32px !important;

  &:after {
    content: '';
    display: block;
    margin: 0;
    width: 48px;
    padding-top: 4px;
    border-bottom: 4px solid #e58271;
  }

  @media (max-width: 1200px) {
      margin-top: 48px !important;
      margin-bottom: 16px !important;
  }  
}


h2 {
  margin-top: 48px !important;
  margin-bottom: 16px !important;
}

h3 {
  margin-top: 24px !important;
  margin-bottom: 16px !important;
}

// WORKAROUND, mat-typography area of intersection h4 is using mat-body-1
// https://github.com/angular/components/issues/26351
h4 {
  font-size: 21px !important;
  line-height: 24px !important;
  font-weight: bold !important;
}

h4 {
  margin-top: 24px !important;
  margin-bottom: 8px !important;
}

h5 {
  font-size: 19px !important;
  line-height: 24px !important;
}

h6 {
  font-size: 16px !important;
  line-height: 20px !important;
}

h5, h6 {
  font-weight: bold !important;
  margin-top: 16px !important;
  margin-bottom: 0px !important;
}
