<app-doc-viewer
  title="Print"
  subtitle="Geo"
  [dependencies]="['LanguageService']"
>
  <app-example-viewer codeFolder="geo/print">
    <mat-grid-list cols="2" rowHeight="800px" gutterSize="16px">
      <mat-grid-tile>
        <igo-map-browser
          [map]="map"
          [view]="view"
          igoMapContext
          igoLayerContext
        >
          <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
          <igo-geolocate-button
            [map]="map"
            color="primary"
          ></igo-geolocate-button>
          <igo-home-extent-button
            [map]="map"
            color="primary"
          ></igo-home-extent-button>
          <igo-rotation-button
            [map]="map"
            [showIfNoRotation]="false"
            color="primary"
          ></igo-rotation-button>
        </igo-map-browser>
      </mat-grid-tile>
      <mat-grid-tile> <igo-print [map]="map"></igo-print></mat-grid-tile>
    </mat-grid-list>
  </app-example-viewer>
</app-doc-viewer>
