<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Print</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/print">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
    <igo-geolocate-button [map]="map" color="primary"></igo-geolocate-button>
    <igo-initial-button [map]="map" color="primary"></igo-initial-button>
    <igo-rotation-button [map]="map" [showIfNoRotation]="false" color="primary"></igo-rotation-button>
  </igo-map-browser>

  <igo-print [map]="map"></igo-print>

</mat-card>

