:host {
  display: block;
  padding: 20px 50px;

  h6 {
    color: rgba(0, 0, 0, 0.54);
  }

  ::ng-deep {
    pre {
      background: rgba(0, 0, 0, 0.01);
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      display: block;
      margin: 16px auto;
      overflow-x: auto;
      padding: 20px;
      white-space: pre-wrap;

      code {
        background: transparent;
      }
    }

    code {
      background: rgba(0, 0, 0, 0.03);
      padding: 3px;
      font-size: 90%;
    }
  }
}
