@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include color($theme);
}

@mixin color($theme) {
  $foreground: map.get($theme, foreground);
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);

  app-doc-viewer {
    h6 {
      color: mat.m2-get-color-from-palette($foreground, secondary-text);
    }
  }
}
