<md-card>
  <md-card-subtitle>Search module</md-card-subtitle>
  <md-card-title>search-bar.component</md-card-title>   
  <md-card-content>
    <igo-search-bar
      [placeholder]="'Search'"
      (search)="handleSearch($event)">
    </igo-search-bar>

    <p>Results for: {{searchTerm}}</p>

    <div *ngFor="let sourceResult of searchService.results$ | async">
      <h4>{{sourceResult.title}}</h4>
      <p *ngFor="let result of sourceResult[1]">{{result.title}}</p>
    </div>

  </md-card-content>
</md-card>