<mat-card appearance="outlined">
  <mat-card-subtitle>Common</mat-card-subtitle>
  <mat-card-title>Action</mat-card-title>
  <mat-card-content>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/common/action">code of this example</a>
  </mat-card-content>

  <igo-actionbar
    [store]="store"
    [withIcon]="true"
    [withTitle]="actionbarMode === 'overlay'"
    [horizontal]="true"
    [mode]="actionbarMode">
  </igo-actionbar>

</mat-card>
<p></p>

<mat-card appearance="outlined" [igoContextMenu]= actionbarMenu>
  <mat-card-subtitle>Common</mat-card-subtitle>
  <mat-card-title>Action context-menu</mat-card-title>
  <div></div>
</mat-card>



<ng-template #actionbarMenu>
  <igo-actionbar
    [store]="store"
    [withIcon]="true"
    [horizontal]="true"
    [mode]="'context'">
  </igo-actionbar>
</ng-template>
