<igo-spinner igoSpinnerBinding></igo-spinner>
<igo-message-center></igo-message-center>
<igo-auth-form></igo-auth-form>

<mat-sidenav-container igoStopDropPropagation>

  <mat-sidenav
    #sidenav
    mode="side"
    igoSidenavShim>
    <button
      mat-icon-button
      color="primary"
      (click)="sidenav.close()"
      *ngIf="sidenav.opened">
      <mat-icon>close</mat-icon>
    </button>

    <p>
      This sidenav has a directive that prevents
      the default focus behavior when it's closed.
    </p>
  </mat-sidenav>

  <div id="menu">
    <button
      mat-icon-button
      color="primary"
      (click)="sidenav.open()"
      *ngIf="!sidenav.opened">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-card>
    <mat-card-subtitle>Context module</mat-card-subtitle>
    <mat-card-title>context-list.component</mat-card-title>
    <mat-card-content>
      <igo-context-list igoContextListBinding></igo-context-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Search module</mat-card-subtitle>
    <mat-card-title>search-bar.component</mat-card-title>
    <mat-card-content>
      <igo-search-bar
        igoSearchUrlParam
        [placeholder]="'Search for an address or a place' | translate"
        (search)="handleSearch($event)">
      </igo-search-bar>

      <p>Searching for: {{searchTerm}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Feature module</mat-card-subtitle>
    <mat-card-title>feature-list.component</mat-card-title>
    <mat-card-content>
      <igo-feature-list
        igoFeatureListBinding
        [focusFirst]="true"
        (focus)="handleFeatureFocus($event)"
        (select)="handleFeatureSelect($event)">
      </igo-feature-list>
    </mat-card-content>

    <mat-card-title>feature-details.component</mat-card-title>
    <mat-card-content>
      <igo-panel [title]="'Details'">
        <igo-feature-details [feature]="featureService.focusedFeature$ | async"></igo-feature-details>

        <button
          mat-icon-button
          panelRightButton
          (click)="clearFeature()">
          <mat-icon>close</mat-icon>
        </button>

      </igo-panel>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Map module</mat-card-subtitle>
    <mat-card-title>map-browser.component</mat-card-title>
    <mat-card-content class="igo-map-browser-container">
      <igo-map-browser [ngClass]="{'igo-attribution-offset': map.getBaseLayers().length > 1}"
        igoQuery
        igoOverlay
        igoMapContext
        igoLayerContext
        igoMapBrowserBinding
        igoDropGeoFile
        (query)="handleQueryResults($event)"
        [map]="map">
        <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
        <igo-geolocate-button [map]="map" color="primary"></igo-geolocate-button>
        <igo-user-button [map]="map" color="primary"></igo-user-button>
        <igo-baselayers-switcher [map]="map"></igo-baselayers-switcher>
      </igo-map-browser>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Ogc Filter module</mat-card-subtitle>
    <mat-card-title>ogc-filter.component</mat-card-title>
    <mat-card-content>
      <igo-ogc-filterable-list igoOgcFilterableListBinding></igo-ogc-filterable-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Share map module</mat-card-subtitle>
    <mat-card-title>share-map.component</mat-card-title>
    <mat-card-content>
      <igo-share-map [map]="map"></igo-share-map>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Print module</mat-card-subtitle>
    <mat-card-title>print.component</mat-card-title>
    <mat-card-content>
      <igo-print [map]="map"></igo-print>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Layer module</mat-card-subtitle>
    <mat-card-title>layer-list.component</mat-card-title>
    <mat-card-content>
      <igo-layer-list [ogcFilterInLayerItem]="true" [layers]="map.layers$ | async"></igo-layer-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Time Filter module</mat-card-subtitle>
    <mat-card-title>time-filter.component</mat-card-title>
    <mat-card-content>
      <igo-time-filter-list igoTimeFilterListBinding></igo-time-filter-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Tool module</mat-card-subtitle>
    <mat-card-title>toolbar.component</mat-card-title>
    <mat-card-content>
      <igo-toolbar
        igoToolContext
        igoToolbarBinding
        [withIcon]="true"
        [withTitle]="true"
        [horizontal]="true">
      </igo-toolbar>
    </mat-card-content>

    <mat-card-title>toolbox.component</mat-card-title>
    <mat-card-content>
        <igo-toolbox [animate]="true"></igo-toolbox>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-subtitle>Form module</mat-card-subtitle>
    <mat-card-title>map-field.component</mat-card-title>
    <mat-card-content>
      <form class="igo-form" [formGroup]="demoForm">

        <div class="igo-map-field-container">
          <igo-map-field
            formControlName="location"
            [placeholder]="'Location' | translate"
            [decimals]="8"
            [readonly]="false"
            [layers]="(map.layers$ | async) | clone"
            [view]="contextService.context$.value ? (contextService.context$ | async).map.view : undefined">
          </igo-map-field>
        </div>

        <div class="igo-form-button-group">
          <button
            mat-raised-button
            type="button"
            [disabled]="!demoForm.valid"
            (click)="handleFormSubmit(demoForm.value, demoForm.valid)">
            {{'Submit' | translate}}
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</mat-sidenav-container>
