<igo-spinner igoSpinnerBinding></igo-spinner>
<igo-message-center></igo-message-center>

<md-sidenav-container>

  <md-sidenav
    #sidenav
    mode="side"
    igoSidenavShim>
    <button
      md-icon-button
      color="primary"
      (click)="sidenav.close()"
      *ngIf="sidenav.opened">
      <md-icon>close</md-icon>
    </button>

    <p>
      This sidenav has a directive that prevents
      the default focus behavior when it's closed.
    </p>
  </md-sidenav>

  <div id="menu">
    <button
      md-icon-button
      color="primary"
      (click)="sidenav.open()"
      *ngIf="!sidenav.opened">
      <md-icon>menu</md-icon>
    </button>
  </div>

  <md-card>
    <md-card-subtitle>Context module</md-card-subtitle>
    <md-card-title>context-list.component</md-card-title>
    <md-card-content>
      <igo-context-list igoContextListBinding></igo-context-list>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Search module</md-card-subtitle>
    <md-card-title>search-bar.component</md-card-title>
    <md-card-content>
      <igo-search-bar
        igoSearchUrlParam
        [placeholder]="'Search for an address or a place' | translate"
        (search)="handleSearch($event)">
      </igo-search-bar>

      <p>Searching for: {{searchTerm}}</p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Feature module</md-card-subtitle>
    <md-card-title>feature-list.component</md-card-title>
    <md-card-content>
      <igo-feature-list
        igoFeatureListBinding
        [focusFirst]="true"
        (focus)="handleFeatureFocus($event)"
        (select)="handleFeatureSelect($event)">
      </igo-feature-list>
    </md-card-content>

    <md-card-title>feature-details.component</md-card-title>
    <md-card-content>
      <igo-panel [title]="'Details'">
        <igo-feature-details [feature]="featureService.focusedFeature$ | async"></igo-feature-details>

        <button
          md-icon-button
          panelRightButton
          (click)="clearFeature()">
          <md-icon>close</md-icon>
        </button>

      </igo-panel>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Map module</md-card-subtitle>
    <md-card-title>map-browser.component</md-card-title>
    <md-card-content class="igo-map-browser-container">
      <igo-map-browser
        igoQuery
        igoOverlay
        igoMapContext
        igoLayerContext
        igoMapBrowserBinding
        [map]="map">
        <igo-zoom [map]="map" color="primary"></igo-zoom>
      </igo-map-browser>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Print module</md-card-subtitle>
    <md-card-title>print.component</md-card-title>
    <md-card-content>
      <igo-print [map]="map"></igo-print>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Layer module</md-card-subtitle>
    <md-card-title>layer-list.component</md-card-title>
    <md-card-content>
      <igo-layer-list [layers]="map.layers$ | async"></igo-layer-list>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Filter module</md-card-subtitle>
    <md-card-title>time-filter.component</md-card-title>
    <md-card-content>
      <igo-time-filter-list igoTimeFilterListBinding></igo-time-filter-list>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Tool module</md-card-subtitle>
    <md-card-title>toolbar.component</md-card-title>
    <md-card-content>
      <igo-toolbar
        igoToolContext
        igoToolbarBinding
        [withIcon]="true"
        [withTitle]="true"
        [horizontal]="true">
      </igo-toolbar>
    </md-card-content>

    <md-card-title>toolbox.component</md-card-title>
    <md-card-content>
        <igo-toolbox [animate]="true"></igo-toolbox>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle>Form module</md-card-subtitle>
    <md-card-title>map-field.component</md-card-title>
    <md-card-content>
      <form class="igo-form" [formGroup]="demoForm">

        <div class="igo-map-field-container">
          <igo-map-field
            formControlName="location"
            [placeholder]="'Location' | translate"
            [decimals]="8"
            [readonly]="false"
            [layers]="(map.layers$ | async) | clone"
            [view]="contextService.context$.value ? (contextService.context$ | async).map.view : undefined">
          </igo-map-field>
        </div>

        <div class="igo-form-button-group">
          <button
            md-raised-button
            type="button"
            [disabled]="!demoForm.valid"
            (click)="handleFormSubmit(demoForm.value, demoForm.valid)">
            {{'Submit' | translate}}
          </button>
        </div>

      </form>
    </md-card-content>
  </md-card>

</md-sidenav-container>
