@use 'sass:map';
@use '@angular/material' as mat;
@use '../base';

$color-500: map.get(base.$palette, 500);

.mdc-button {
  font-size: mat.font-size(base.$typography, body-1) !important;
  line-height: mat.line-height(base.$typography, body-1) !important;
  font-weight: bold !important;
}

.mat-mdc-outlined-button {
  border: 2px solid currentColor;
}

.mat-mdc-button-base {
  border-radius: 0 !important;
}

.mat-mdc-raised-button {
  color: $color-500 !important;
  border-color: $color-500 !important;
}