@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include density($theme);
}

@mixin density($theme) {
  $density: mat.get-density-config($theme);

  $theme4: map.merge(
    $theme,
    (
      density: $density - 4
    )
  );

  $theme2: map.merge(
    $theme,
    (
      density: $density - 2
    )
  );

  igo-search-bar {
    @include mat.form-field-density($theme4);
    @include mat.icon-button-density($theme2);
  }
}