@use 'sass:map';
@use '@angular/material' as mat;
@use '../all-theme';
@use '../typography';

$primary: mat.define-palette(mat.$blue-palette, 700, 400, 900);
$accent: mat.define-palette(mat.$blue-palette, 200);
$warn: mat.define-palette(mat.$red-palette);
$typography: typography.$igo-typography;

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: $typography,
    density: 0
  )
);

@include mat.core();
@include mat.typography-hierarchy($typography);
@include mat.all-component-themes($theme);

@include all-theme.all-component-themes($theme);
