@use 'sass:map';
@use '@angular/material' as mat;
@use './utils/foreground';
@use '../../index' as igo;

$bluedark-palette: (
  50: #e3eaec,
  100: #b9cad0,
  200: #8ba7b1,
  300: #5c8391,
  400: #39697a,
  500: #164e62,
  600: #13475a,
  700: #103d50,
  800: #0c3546,
  900: #062534,
  A100: #6dc6ff,
  A200: #3ab2ff,
  A400: #079eff,
  A700: #0090ec,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$primary: mat.define-palette($bluedark-palette, 500);
$accent: mat.define-palette($bluedark-palette, 200);
$warn: mat.define-palette(mat.$red-palette);
$typography: igo.$igo-typography;

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: $typography,
    density: 0
  )
);

$foreground: foreground.theme-foreground(
  mat.define-palette(mat.$grey-palette, 900)
);
$theme: map.merge(
  $theme,
  (
    foreground: $foreground
  )
);

@include mat.core();
@include mat.all-component-typographies($theme);
@include mat.all-component-themes($theme);

@include igo.all-component-themes($theme);

