@use 'sass:map';
@use '@angular/material' as mat;
@use './foreground';
@use '../../index' as igo;

$dq-palette: (
  50: #e1f5fd,
  100: #b4e5fb,
  200: #82d4f8,
  300: #53c3f4,
  400: #31b6f2,
  500: #0d81df,
  600: #149be1,
  700: #1088cd,
  800: #0f77b9,
  900: #095797,
  A100: #6dc6ff,
  A200: #3ab2ff,
  A400: #079eff,
  A700: #0090ec,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$primary: mat.define-palette($dq-palette, 900);
$accent: mat.define-palette($dq-palette, 500);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: igo.$igo-typography,
    density: 0
  )
);

$theme: map.merge(
  $theme,
  (
    foreground:
      foreground.theme-foreground(mat.define-palette(mat.$grey-palette, 900))
  )
);

@include mat.all-legacy-component-colors($theme);
@include igo.all-component-themes($theme);
