@use '@angular/material' as mat;
@use '../../index' as igo;

$primary: mat.define-palette(mat.$blue-grey-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$deep-orange-palette);

$theme: mat.define-dark-theme((
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn
    ),
    typography: igo.$igo-typography,
    density: 0,
));

@include mat.all-component-colors($theme);
@include igo.all-component-themes($theme);
