@use '@angular/material' as mat;
@use '../all-theme';
@use '../typography';

$primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$typography: typography.$igo-typography;

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: $typography,
    density: 0
  )
);

@include mat.elevation-classes();
@include mat.app-background();
@include mat.typography-hierarchy($typography);
@include mat.all-component-themes($theme);

@include all-theme.all-component-themes($theme);
