@use '@angular/material' as mat;
@use '../../index' as igo;

$config: (
    typography: igo.$igo-typography,
    density: 0
);

@include mat.legacy-core();
@include mat.all-legacy-component-typographies($config);
@include mat.legacy-typography-hierarchy($config);

@include mat.private-all-legacy-component-densities($config);
