@use '@angular/material' as mat;
@use '../../index' as igo;

$primary: mat.define-palette(mat.$teal-palette, 600, 400, 900);
$accent: mat.define-palette(mat.$teal-palette, 400);
$warn: mat.define-palette(mat.$red-palette);
$typography: igo.$igo-typography;

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn
    ),
    typography: $typography,
    density: 0,
  )
);

@include mat.core();
@include mat.all-component-typographies($theme);
@include mat.all-component-themes($theme);

@include igo.all-component-themes($theme);

