.qcca-theme {
    $qcca-palette: (
        100 : #095797,
        200 : #fff,
        201 : #fff,
        300 : #dae6f0,
        301 : #f2f1f1,
        302 : #223654,
        303 : #c5cad2,
        400 : #cb381f,
        401 : #4f813d,
        contrast: (
            100 : #fff,
            200 : #1479cc,
            201 : #fff,
            300 : #095797,
            301 : #095797,
            302 : #fff,
            303 : #095797,
            400 : #f09686,
            401 : #f09686,
        )
    );

    $primary: mat.define-palette($qcca-palette, 100);
    $accent: mat.define-palette($qcca-palette, 200);
    $warn: mat.define-palette($qcca-palette, 400);
    $disabled: mat.define-palette($qcca-palette, 303);
    $success: mat.define-palette($qcca-palette, 401);

    $theme: mat.define-light-theme((
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
            disabled: $disabled
        )
    ));

    @include igo-all-theming($theme);
    @include mat.all-component-colors($theme);

    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .md-button {
        border-radius: 0!important;
    }
}
