.qcca-theme {
    $qcca-palette: (
        100 : #095797,
        200 : #095797,
        201 : #fff,
        300 : #dae6f0,
        301 : #f2f1f1,
        302 : #223654,
        303 : #c5cad2,
        400 : #cb381f,
        401 : #4f813d,
        500 : #f09686,
        contrast: (
            100 : #fff,
            200 : #fff,
            201 : #fff,
            300 : #095797,
            301 : #095797,
            302 : #fff,
            303 : #095797,
            400 : #fff,
            401 : #fff,
            501 : #fff
        )
    );

    $basic: mat.define-palette($qcca-palette, 100);
    $primary: mat.define-palette($qcca-palette, 200);
    $accent: mat.define-palette($qcca-palette, 500);
    $warn: mat.define-palette($qcca-palette, 400);
    $success: mat.define-palette($qcca-palette, 401);

    $theme: mat.define-light-theme((
        color: (
            basic: $basic,
            primary: $primary,
            accent: $accent,
            warn: $warn,
            success: $success
        )
    ));

    //@include igo-all-theming($theme);
    //@include mat.all-component-colors($theme);

    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .md-button {
        border-radius: 0!important;
    }
}

//@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($theme);
