@use '@angular/material' as mat;
@use '../../../index' as igo;

$primary: mat.define-palette(mat.$orange-palette, 800);
$accent: mat.define-palette(mat.$light-blue-palette, 600, 100, 800);
$warn: mat.define-palette(mat.$red-palette, 600);

$theme: mat.define-light-theme((
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn
    )
));

@include igo.all-component-themes($theme);
