:host {
    display: block;
    margin-top: 24px;

    mat-card-header {
        display: flex;
        justify-content: space-between;
        padding: 8px 8px 0 16px;
        margin-bottom: 0px;
    }

    ::ng-deep .mat-mdc-card-header-text {
        display: flex;
        align-items: center;
    }

    mat-card-subtitle {
        font-size: 16px;
    }
}