<app-doc-viewer title="Entity Selector" subtitle="Common">
  <app-example-viewer codeFolder="common/entity-selector">
    <igo-entity-selector
      [store]="store"
      [titleAccessor]="getTitle"
      [emptyText]="''"
      [placeholder]="'Select an entity'"
      (selectedChange)="onSelectedChange($event)"
    >
    </igo-entity-selector>

    <div *ngIf="selected$ | async as selected">
      <p>ID: {{ selected.id }}</p>
      <p>Name: {{ selected.name }}</p>
      <p>Description: <span [innerHtml]="selected.description"></span></p>
    </div>
  </app-example-viewer>
</app-doc-viewer>
