@import '~ol/ol';

@import '../lib/draw/drawingTool.theming';
@import '../lib/feature/feature.theming';
@import '../lib/filter/filter.theming';
@import '../lib/layer/layer.theming';
@import '../lib/map/map.theming';
@import '../lib/measure/measure.theming';
@import '../lib/directions/directions.theming';

@mixin igo-geo-theming($theme, $typography) {
  @include igo-drawingTool-theming($theme, $typography);
  @include igo-feature-theming($theme);
  @include igo-filter-theming($theme, $typography);
  @include igo-layer-theming($theme);
  @include igo-map-theming($theme, $typography);
  @include igo-measure-theming($theme, $typography);
  @include igo-directions-theming($theme);
}
