<mat-card appearance="outlined">
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Simple Map with a legend list</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/layer">code of this
      example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Legends">
    <igo-layer-legend-list [layers]="map.layers"
    [excludeBaseLayers]="true"
    [allowShowAllLegends]="true"
    [updateLegendOnResolutionChange]="false"
    [showAllLegendsValue]="false">
  </igo-layer-legend-list>

  </igo-panel>

</mat-card>
