@require '../../../style/var.styl';
@require '../../../style/media.styl';

.igo-layer-filters-container {
  padding-left: $igo-padding;
}

md2-datepicker {
  margin: 0 auto;
}

md-slider >>> div.mat-slider-thumb-label {
  width: 32px;
  height: 32px;
}

md-slider >>> span.mat-slider-thumb-label-text {
    font-size:8px;
}

#time-slider {
  width: 100%;
  cursor: pointer;

  +media(mobile) {
    width: 90%;
  }
}

