[igolistitem][color="primary"].igo-list-item-selected md-list-item {
  background-color: rgba(103, 58, 183, 1);
}

[igolistitem][color="accent"].igo-list-item-selected md-list-item {
  background-color: rgba(255, 215, 64, 1);
}

table.igo-striped tbody tr:nth-child(odd) {
  background-color: rgba(103, 58, 183, 0.12);
}
