@use '../palette';

@mixin title-border {
  &:after {
    content: '';
    display: block;
    margin: 0;
    width: 48px;
    padding-top: 4px;
    border-bottom: 4px solid palette.$accent;
  }
}

@mixin title-level-4 {
  font-size: 21px !important;
  line-height: 24px !important;
  font-weight: bold !important;
}