:host {
  display: block;
  margin-top: 24px;

  mat-card-header {
    display: flex;
    justify-content: space-between;
  }

  mat-card-content {
    padding-top: 16px;
  }
  mat-card-subtitle {
    font-size: 16px;
  }
}
