<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>
      {{ title }}
    </mat-card-subtitle>
    <div class="actions">
      <a
        *ngIf="codeFolder"
        mat-icon-button
        [href]="codeUrl"
        target="_blank"
        matTooltip="View code example"
      >
        <mat-icon>code-tags</mat-icon>
      </a>
      <a
        *ngIf="configFolder"
        mat-icon-button
        [href]="configUrl"
        target="_blank"
        matTooltip="View config example"
      >
        <mat-icon>settings</mat-icon>
      </a>
    </div>
  </mat-card-header>

  <mat-divider class="m-b-16"></mat-divider>

  <mat-card-content class="mat-body-1">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
