@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include density($theme);
}

@mixin density($theme) {
  $density: mat.get-theme-density($theme);

  $theme: map.merge(
    $theme,
    (
      density: $density - 2
    )
  );

  igo-entity-selector {
    @include mat.form-field-density($theme);
  }
}
