@require './media.styl';
@require './var.styl';

/*** General ***/

.igo-col {
  float: left;

  +media(mobile) {
    text-align: center;
  }
}

.igo-col-10 {
  width: 10%;
}

.igo-col-20 {
  width: 20%;
}

.igo-col-30 {
  width: 30%;
}

.igo-col-40 {
  width: 40%;
}

.igo-col-50 {
  width: 50%;
}

.igo-col-60 {
  width: 60%;
}

.igo-col-70 {
  width: 70%;
}

.igo-col-80 {
  width: 80%;
}

.igo-col-90 {
  width: 90%;
}

.igo-col-100 {
  width: 100%;
}

.igo-col-100-m {
  +media(mobile) {
    width: 100%;
  }
}

/*** Form ***/

.igo-form {
  height: 100%;
  width: 100%;
  padding: (20px + $igo-padding) $igo-padding $igo-padding;
  position: relative;
}

.igo-form-button-group {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.igo-input-container {
  padding-bottom: 30px;
}
