@require './material-font.styl';
@require './cls.styl';
@require './var.styl';

/*** List ***/

[igolistitem] {
  display: block;
}

tr[igolistitem] {
  display: table-row;
}

/*** Form ***/

mat-select, mat-form-field {
  width: 100%;
}

mat-radio-group.horizontal {
  display: block;
  text-align: center;

  +media(mobile) {
    text-align: inherit;
  }
}

mat-radio-group.horizontal mat-radio-button {
  padding: 0 8px;
}
