media_queries = {
  mobile  : "only screen and (max-width: 450px), only screen and (max-height: 450px)",
  tablet  : "only screen and (min-width: 451px) and (min-height: 451px) and (max-width: 800px)",
  desktop : "only screen and (min-width: 801px)",
  ie: "only screen and (-ms-high-contrast: active), only screen and (-ms-high-contrast: none)"
}

media(breakpoints)
  $conditions = ()
  for breakpoint in breakpoints
    push($conditions, media_queries[breakpoint])
  $conditions = join(", ", $conditions)
  @media $conditions
    {block}
