$igo-margin = 5px;
$igo-padding = 5px;
$igo-icon-size = 40px;

/*** Layer legend ***/

$igo-layer-legend-padding-left = 18px;

/*** List ***/

$igo-list-item-height = 46px;
$igo-list-item-padding = 3px;
$igo-list-item-icon-padding = 8px;

/*** Panel ***/

$igo-panel-header-height = 46px;
$igo-panel-header-padding = 3px;

/*** Spinner ***/

$igo-spinner-size = 40px;
$igo-spinner-border-width = 4px;
$igo-spinner-top-left = 2px;

/*** Slider ***/

div.mat-slider-thumb-label{
  width: 33px;
  height: 33px;
}

.mat-slider-thumb-label-text {
    font-size:9px;
}
