<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Simple Map</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/draw">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-draw [stores]="store" [map]="map"></igo-draw>

</mat-card>
