$igo-spinner-size: 40px;
$igo-spinner-border-width: 4px;
$igo-spinner-top-left: 2px;

:host {
  .igo-spinner-container {
    display: none;
    position: relative;
    pointer-events: none;
  }

  .igo-spinner-container.igo-spinner-shown {
    display: block;
  }

  mat-progress-spinner {
    height: $igo-spinner-size;
    width: $igo-spinner-size;
    border-radius: 50%;
  }

  .igo-spinner-background {
    height: $igo-spinner-size - $igo-spinner-border-width;
    width: $igo-spinner-size - $igo-spinner-border-width;
    border-radius: 50%;
    border: $igo-spinner-border-width solid #ffffff;
    position: absolute;
    top: $igo-spinner-top-left;
    left: $igo-spinner-top-left;
  }
}
