@import 'ngx-toastr/toastr';

button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

button.mat-icon-button.mat-button-base[disabled='true'] {
  color: rgba(0, 0, 0, 0.26);
}
