@use './partial/layout.scss';
@import 'ngx-toastr/toastr';

button.mat-mdc-menu-item {
  line-height: 24px !important;
}

a.mat-mdc-menu-item > mat-icon {
  margin-bottom: 14px;
}

button.mat-mdc-icon-button.mat-mdc-button-base[disabled='true'] {
  color: rgba(0, 0, 0, 0.26);
}
