@import 'ngx-toastr/toastr';

button.mat-mdc-menu-item {
  line-height: 24px !important;
}

a.mat-mdc-menu-item > mat-icon {
  margin-bottom: 14px;
}

button.mat-mdc-icon-button.mat-mdc-button-base[disabled='true'] {
  color: rgba(0, 0, 0, 0.26);
}

.mat-mdc-menu-content {
  mat-list {
    padding: 0;
  }
}

.cdk-overlay-pane:has(.mat-mdc-select-panel, .mat-mdc-autocomplete-panel) {
  /* styles to apply if the content contains select-panel OR autocomplete-panel */
  min-width: fit-content;
}
