$igo-typography: mat.define-typography-config(
  $display-4:     mat.define-typography-level(110px, 110px, 300),
  $display-3:     mat.define-typography-level(54px, 54px, 400),
  $display-2:     mat.define-typography-level(43px, 46px, 400),
  $display-1:     mat.define-typography-level(32px, 38px, 400),
  $headline:      mat.define-typography-level(48px, 54px, 600),
  $title:         mat.define-typography-level(35px, 40px, 600),
  $subheading-2:  mat.define-typography-level(28px, 32px, 600),
  $subheading-1:  mat.define-typography-level(21px, 24px, 600),
  $body-2:        mat.define-typography-level(16px, 24px, 500),
  $body-1:        mat.define-typography-level(16px, 24px, 400),
  $caption:       mat.define-typography-level(18px, 24px, 500),
  $button:        mat.define-typography-level(16px, 24px, 500),
  $input:         mat.define-typography-level(16px, 1, 400)
);
