/**
 * Most of the code is inspired or from @angular/material
 * https://github.com/angular/components/tree/main/src/material/core/tokens/_token-utils.scss
 */
html .blue-theme {
  --sdg-font-size-root-percent: 87.5%;
  --igo-font-family-text: var(--sdg-font-family-text, ("Roboto", sans-serif));
  --sdg-palette-blue-100: #dae6f0;
  --sdg-palette-blue-150: #c6dbee;
  --sdg-palette-blue-200: #adcdeb;
  --sdg-palette-blue-300: #72b2eb;
  --sdg-palette-blue-350: #4a98d9;
  --sdg-palette-blue-400: #3b95e1;
  --sdg-palette-blue-500: #0078cc;
  --sdg-palette-blue-550: #1472bf;
  --sdg-palette-blue-600: #095797;
  --sdg-palette-blue-650: #19406c;
  --sdg-palette-blue-700: #223654;
  --sdg-palette-blue-800: #162b47;
  --sdg-palette-grey-100: #f1f1f2;
  --sdg-palette-grey-150: #d7d8dd;
  --sdg-palette-grey-200: #c5cad2;
  --sdg-palette-grey-300: #a7acbc;
  --sdg-palette-grey-350: #8893a2;
  --sdg-palette-grey-400: #8590a8;
  --sdg-palette-grey-450: #6b778a;
  --sdg-palette-grey-500: #6a7688;
  --sdg-palette-grey-600: #4e5662;
  --sdg-palette-grey-700: #3b424c;
  --sdg-palette-grey-850: #1c2025;
  --sdg-palette-grey-900: #121519;
  --sdg-palette-red-50: #ffdbd6;
  --sdg-palette-red-200: #f3bcb6;
  --sdg-palette-red-300: #e58271;
  --sdg-palette-red-350: #f17b6c;
  --sdg-palette-red-400: #f26049;
  --sdg-palette-red-500: #cb381f;
  --sdg-palette-red-550: #bb3a23;
  --sdg-palette-red-700: #692519;
  --sdg-palette-red-800: #4f180e;
  --sdg-palette-green-100: #d7f0bb;
  --sdg-palette-green-200: #b0d493;
  --sdg-palette-green-400: #6e9c57;
  --sdg-palette-green-500: #4f813d;
  --sdg-palette-green-600: #2c4024;
  --sdg-palette-green-800: #1e2f17;
  --sdg-palette-yellow-100: #f8e69a;
  --sdg-palette-yellow-400: #e0ad03;
  --sdg-palette-yellow-450: #ac7900;
  --sdg-palette-yellow-600: #ad781c;
  --sdg-palette-yellow-650: #6d4512;
  --sdg-palette-yellow-800: #3f240c;
  --sdg-palette-violet-300: #b3a5d4;
  --sdg-palette-violet-500: #6b4fa1;
  --sdg-color-blue-pale: #dae6f0;
  --sdg-color-blue-light: #4a98d9;
  --sdg-color-blue-normal: #1472bf;
  --sdg-color-blue-piv: #095797;
  --sdg-color-blue-medium: #19406c;
  --sdg-color-blue-dark: #223654;
  --sdg-color-grey-pale: #f1f1f2;
  --sdg-color-grey-light: #c5cad2;
  --sdg-color-grey-normal: #8893a2;
  --sdg-color-grey-medium: #6b778a;
  --sdg-color-grey-dark: #4e5662;
  --sdg-color-pink-pale: #ffdbd6;
  --sdg-color-pink-normal: #e58271;
  --sdg-color-red-normal: #cb381f;
  --sdg-color-red-dark: #4f180e;
  --sdg-color-green-pale: #d7f0bb;
  --sdg-color-green-normal: #4f813d;
  --sdg-color-green-dark: #2c4024;
  --sdg-color-yellow-pale: #f8e69a;
  --sdg-color-yellow-normal: #e0ad03;
  --sdg-color-yellow-dark: #ad781c;
  --sdg-color-violet-normal: #6b4fa1;
  --sdg-color-white: #ffffff;
  --sdg-color-black: #000000;
  --sdg-color-accent: #e58271;
  --sdg-color-text: var(--sdg-color-blue-dark);
  --sdg-color-background: var(--sdg-color-white);
  --sdg-font-family-text: Open Sans, sans-serif;
  --sdg-font-family-title: Roboto, sans-serif;
  --sdg-font-size-root-percent: 100%;
  --sdg-font-size-h6: 1rem;
  --sdg-font-size-h5: 1.1875rem;
  --sdg-font-size-h4: 1.3125rem;
  --sdg-font-size-h3: 1.75rem;
  --sdg-font-size-h2: 2.25rem;
  --sdg-font-size-h1: 3rem;
  --sdg-font-size-80: 0.75rem;
  --sdg-font-size-90: 0.875rem;
  --sdg-font-size-100: 1rem;
  --sdg-font-size-120: 1.125rem;
  --sdg-font-size-200: 1.375rem;
  --sdg-font-size-xs: var(--sdg-font-size-80);
  --sdg-font-size-sm: var(--sdg-font-size-90);
  --sdg-font-size-md: var(--sdg-font-size-100);
  --sdg-font-size-lg: var(--sdg-font-size-120);
  --sdg-font-size-xl: var(--sdg-font-size-200);
  --sdg-font-size-content: var(--sdg-font-size-md);
  --sdg-font-weight-regular: 400;
  --sdg-font-weight-medium: 500;
  --sdg-font-weight-semi-bold: 600;
  --sdg-font-weight-bold: 700;
  --sdg-line-height-h6: 1.25rem;
  --sdg-line-height-h5: 1.5rem;
  --sdg-line-height-h4: 1.5rem;
  --sdg-line-height-h3: 2rem;
  --sdg-line-height-h2: 2.5rem;
  --sdg-line-height-h1: 3.5rem;
  --sdg-line-height-90: 1.25rem;
  --sdg-line-height-100: 1.5rem;
  --sdg-line-height-120: 1.75rem;
  --sdg-line-height-200: 2rem;
  --sdg-line-height-sm: var(--sdg-line-height-90);
  --sdg-line-height-md: var(--sdg-line-height-100);
  --sdg-line-height-lg: var(--sdg-line-height-120);
  --sdg-line-height-xl: var(--sdg-line-height-200);
  --sdg-title-margin-h1-mt: var(--sdg-spacer-72);
  --sdg-title-margin-h1-mb: var(--sdg-spacer-32);
  --sdg-title-margin-h2-mt: var(--sdg-spacer-lg);
  --sdg-title-margin-h2-mb: var(--sdg-spacer-sm);
  --sdg-title-margin-h3-mt: var(--sdg-spacer-md);
  --sdg-title-margin-h3-mb: var(--sdg-spacer-sm);
  --sdg-title-margin-h4-mt: var(--sdg-spacer-md);
  --sdg-title-margin-h4-mb: var(--sdg-spacer-xs);
  --sdg-title-margin-h5-mt: var(--sdg-spacer-sm);
  --sdg-title-margin-h5-mb: 0;
  --sdg-title-margin-h6-mt: var(--sdg-spacer-sm);
  --sdg-title-margin-h6-mb: 0;
  --sdg-mobile-font-size-h3: 1.5625rem;
  --sdg-mobile-font-size-h2: 1.75rem;
  --sdg-mobile-font-size-h1: 2.25rem;
  --sdg-mobile-line-height-h2: 2.5rem;
  --sdg-mobile-line-height-h1: 3.5rem;
  --sdg-max-content-width: 825px;
  --sdg-spacer-8: 0.5rem;
  --sdg-spacer-16: 1rem;
  --sdg-spacer-24: 1.5rem;
  --sdg-spacer-32: 2rem;
  --sdg-spacer-48: 3rem;
  --sdg-spacer-72: 4.5rem;
  --sdg-spacer-96: 6rem;
  --sdg-spacer-xs: var(--sdg-spacer-8);
  --sdg-spacer-sm: var(--sdg-spacer-16);
  --sdg-spacer-md: var(--sdg-spacer-24);
  --sdg-spacer-lg: var(--sdg-spacer-48);
  --sdg-spacer-xl: var(--sdg-spacer-96);
  --sdg-grid-min-width-sm: 0;
  --sdg-grid-max-width-sm: 575px;
  --sdg-grid-container-max-width-sm: container-max-width("mobile");
  --sdg-grid-columns-sm: 4;
  --sdg-grid-spacing-sm: 16px;
  --sdg-grid-margins-sm: 8px;
  --sdg-grid-min-width-md: 576px;
  --sdg-grid-max-width-md: 767px;
  --sdg-grid-container-max-width-md: container-max-width("mobile-landscape");
  --sdg-grid-columns-md: 4;
  --sdg-grid-spacing-md: 16px;
  --sdg-grid-margins-md: 8px;
  --sdg-grid-min-width-lg: 768px;
  --sdg-grid-max-width-lg: 991px;
  --sdg-grid-container-max-width-lg: container-max-width("tablet");
  --sdg-grid-columns-lg: 12;
  --sdg-grid-spacing-lg: 24px;
  --sdg-grid-margins-lg: 12px;
  --sdg-grid-min-width-xl: 992px;
  --sdg-grid-max-width-xl: 1199px;
  --sdg-grid-container-max-width-xl: container-max-width("laptop");
  --sdg-grid-columns-xl: 12;
  --sdg-grid-spacing-xl: 24px;
  --sdg-grid-margins-xl: 12px;
  --sdg-grid-min-width-max: 1200px;
  --sdg-grid-max-width-max: 9999px;
  --sdg-grid-container-max-width-max: container-max-width("desktop");
  --sdg-grid-columns-max: 12;
  --sdg-grid-spacing-max: 32px;
  --sdg-grid-margins-max: 16px;
  --sdg-elevation-0: 0px 0px 0px 0px rgba(34, 54, 84, 0.24);
  --sdg-elevation-1: 0px 1px 4px 0px  rgba(34, 54, 84, 0.24);
  --sdg-elevation-2: 0px 2px 8px 0px rgba(34, 54, 84, 0.24);
  --sdg-elevation-3: 0px 4px 16px 0px rgba(34, 54, 84, 0.24);
  --sdg-elevation-4: 0px 6px 24px 0px rgba(34, 54, 84, 0.24);
}
html .blue-theme .igo-collapsed {
  display: none !important;
}
html .blue-theme mat-icon[igocollapse]:hover {
  cursor: pointer;
}
html .blue-theme mat-icon[igocollapse].igo-chevron {
  width: auto !important;
  transform: rotateZ(0deg);
  transition: 300ms ease-in-out;
}
html .blue-theme mat-icon[igocollapse].igo-chevron.collapsed {
  transform: rotateZ(180deg);
  transition: 300ms ease-in-out;
}
html .blue-theme .toastr-message-title {
  font-size: var(--sdg-font-size-h5);
}
html .blue-theme {
  --mat-sys-background: light-dark(#ffffff, #101319);
  --mat-sys-error: light-dark(#f44336, #ffb4ab);
  --mat-sys-error-container: light-dark(#ffdad6, #93000a);
  --mat-sys-inverse-on-surface: light-dark(#eff0f9, #2d3037);
  --mat-sys-inverse-primary: light-dark(#4a98d9, #1976d2);
  --mat-sys-inverse-surface: light-dark(#2d3037, #e0e2ea);
  --mat-sys-on-background: light-dark(#181c21, #e0e2ea);
  --mat-sys-on-error: light-dark(#ffffff, #690005);
  --mat-sys-on-error-container: light-dark(#93000a, #ffdad6);
  --mat-sys-on-primary: light-dark(#ffffff, #003c72);
  --mat-sys-on-primary-container: light-dark(#1976d2, #72b2eb);
  --mat-sys-on-primary-fixed: light-dark(#001c3a, #001c3a);
  --mat-sys-on-primary-fixed-variant: light-dark(#1976d2, #1976d2);
  --mat-sys-on-secondary: light-dark(#ffffff, #003c72);
  --mat-sys-on-secondary-container: light-dark(#1976d2, #bbdefb);
  --mat-sys-on-secondary-fixed: light-dark(#001c3a, #001c3a);
  --mat-sys-on-secondary-fixed-variant: light-dark(#1976d2, #1976d2);
  --mat-sys-on-surface: light-dark(#181c21, #e0e2ea);
  --mat-sys-on-surface-variant: light-dark(#414752, #dde2f0);
  --mat-sys-on-tertiary: light-dark(#ffffff, #003c72);
  --mat-sys-on-tertiary-container: light-dark(#1976d2, #72b2eb);
  --mat-sys-on-tertiary-fixed: light-dark(#001c3a, #001c3a);
  --mat-sys-on-tertiary-fixed-variant: light-dark(#1976d2, #1976d2);
  --mat-sys-outline: light-dark(#717783, #8b919e);
  --mat-sys-outline-variant: light-dark(#c1c6d4, #414752);
  --mat-sys-primary: light-dark(#1976d2, #4a98d9);
  --mat-sys-primary-container: light-dark(#72b2eb, #1976d2);
  --mat-sys-primary-fixed: light-dark(#72b2eb, #72b2eb);
  --mat-sys-primary-fixed-dim: light-dark(#4a98d9, #4a98d9);
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-secondary: light-dark(#1976d2, #90caf9);
  --mat-sys-secondary-container: light-dark(#bbdefb, #1976d2);
  --mat-sys-secondary-fixed: light-dark(#bbdefb, #bbdefb);
  --mat-sys-secondary-fixed-dim: light-dark(#90caf9, #90caf9);
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-surface: light-dark(#ffffff, #101319);
  --mat-sys-surface-bright: light-dark(#ffffff, #363940);
  --mat-sys-surface-container: light-dark(#ecedf6, #1c2026);
  --mat-sys-surface-container-high: light-dark(#e6e8f0, #272a30);
  --mat-sys-surface-container-highest: light-dark(#e0e2ea, #32353b);
  --mat-sys-surface-container-low: light-dark(#f2f3fc, #181c21);
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #0b0e14);
  --mat-sys-surface-dim: light-dark(#d8dae2, #101319);
  --mat-sys-surface-tint: light-dark(#1976d2, #4a98d9);
  --mat-sys-surface-variant: light-dark(#dde2f0, #414752);
  --mat-sys-tertiary: light-dark(#1976d2, #4a98d9);
  --mat-sys-tertiary-container: light-dark(#72b2eb, #1976d2);
  --mat-sys-tertiary-fixed: light-dark(#72b2eb, #72b2eb);
  --mat-sys-tertiary-fixed-dim: light-dark(#4a98d9, #4a98d9);
  --mat-sys-neutral-variant20: #2b313b;
  --mat-sys-neutral10: #181c21;
}
html .blue-theme {
  --mat-sys-level0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
html .blue-theme {
  --mat-sys-level1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
html .blue-theme {
  --mat-sys-level2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
html .blue-theme {
  --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
html .blue-theme {
  --mat-sys-level4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
html .blue-theme {
  --mat-sys-level5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
html .blue-theme {
  --mat-sys-body-large: 400 1rem / 1.5rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-body-large-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-body-large-line-height: 1.5rem;
  --mat-sys-body-large-size: 1rem;
  --mat-sys-body-large-tracking: 0.031rem;
  --mat-sys-body-large-weight: 400;
  --mat-sys-body-medium: 400 0.875rem / 1.25rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-body-medium-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-body-medium-line-height: 1.25rem;
  --mat-sys-body-medium-size: 0.875rem;
  --mat-sys-body-medium-tracking: 0.016rem;
  --mat-sys-body-medium-weight: 400;
  --mat-sys-body-small: 400 0.75rem / 1rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-body-small-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-body-small-line-height: 1rem;
  --mat-sys-body-small-size: 0.75rem;
  --mat-sys-body-small-tracking: 0.025rem;
  --mat-sys-body-small-weight: 400;
  --mat-sys-display-large: 400 3.562rem / 4rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-display-large-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-display-large-line-height: 4rem;
  --mat-sys-display-large-size: 3.562rem;
  --mat-sys-display-large-tracking: -0.016rem;
  --mat-sys-display-large-weight: 400;
  --mat-sys-display-medium: 400 2.812rem / 3.25rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-display-medium-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-display-medium-line-height: 3.25rem;
  --mat-sys-display-medium-size: 2.812rem;
  --mat-sys-display-medium-tracking: 0;
  --mat-sys-display-medium-weight: 400;
  --mat-sys-display-small: 400 2.25rem / 2.75rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-display-small-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-display-small-line-height: 2.75rem;
  --mat-sys-display-small-size: 2.25rem;
  --mat-sys-display-small-tracking: 0;
  --mat-sys-display-small-weight: 400;
  --mat-sys-headline-large: 400 2rem / 2.5rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-headline-large-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-headline-large-line-height: 2.5rem;
  --mat-sys-headline-large-size: 2rem;
  --mat-sys-headline-large-tracking: 0;
  --mat-sys-headline-large-weight: 400;
  --mat-sys-headline-medium: 400 1.75rem / 2.25rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-headline-medium-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-headline-medium-line-height: 2.25rem;
  --mat-sys-headline-medium-size: 1.75rem;
  --mat-sys-headline-medium-tracking: 0;
  --mat-sys-headline-medium-weight: 400;
  --mat-sys-headline-small: 400 1.5rem / 2rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-headline-small-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: 1.5rem;
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: 400;
  --mat-sys-label-large: 500 0.875rem / 1.25rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-label-large-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-label-large-line-height: 1.25rem;
  --mat-sys-label-large-size: 0.875rem;
  --mat-sys-label-large-tracking: 0.006rem;
  --mat-sys-label-large-weight: 500;
  --mat-sys-label-large-weight-prominent: 700;
  --mat-sys-label-medium: 500 0.75rem / 1rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-label-medium-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-label-medium-line-height: 1rem;
  --mat-sys-label-medium-size: 0.75rem;
  --mat-sys-label-medium-tracking: 0.031rem;
  --mat-sys-label-medium-weight: 500;
  --mat-sys-label-medium-weight-prominent: 700;
  --mat-sys-label-small: 500 0.688rem / 1rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-label-small-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-label-small-line-height: 1rem;
  --mat-sys-label-small-size: 0.688rem;
  --mat-sys-label-small-tracking: 0.031rem;
  --mat-sys-label-small-weight: 500;
  --mat-sys-title-large: 400 1.375rem / 1.75rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-title-large-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-title-large-line-height: 1.75rem;
  --mat-sys-title-large-size: 1.375rem;
  --mat-sys-title-large-tracking: 0;
  --mat-sys-title-large-weight: 400;
  --mat-sys-title-medium: 500 1rem / 1.5rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-title-medium-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-title-medium-line-height: 1.5rem;
  --mat-sys-title-medium-size: 1rem;
  --mat-sys-title-medium-tracking: 0.009rem;
  --mat-sys-title-medium-weight: 500;
  --mat-sys-title-small: 500 0.875rem / 1.25rem var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-title-small-font: var(--igo-font-family-text, "Roboto", sans-serif);
  --mat-sys-title-small-line-height: 1.25rem;
  --mat-sys-title-small-size: 0.875rem;
  --mat-sys-title-small-tracking: 0.006rem;
  --mat-sys-title-small-weight: 500;
}
html .blue-theme {
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-full: 9999px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-none: 0;
  --mat-sys-corner-small: 8px;
}
html .blue-theme {
  --mat-sys-dragged-state-layer-opacity: 0.16;
  --mat-sys-focus-state-layer-opacity: 0.12;
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-sys-pressed-state-layer-opacity: 0.12;
}
html .blue-theme .mat-primary {
  --mat-stepper-header-selected-state-icon-background-color: #1976d2;
  --mat-stepper-header-selected-state-icon-foreground-color: #ffffff;
  --mat-stepper-header-edit-state-icon-background-color: #1976d2;
  --mat-stepper-header-edit-state-icon-foreground-color: #ffffff;
}
html .blue-theme .mat-primary.mat-icon {
  --mat-icon-color: #1976d2;
}
html .blue-theme .mat-primary.mat-mdc-checkbox {
  --mat-checkbox-disabled-label-color: rgba(24, 28, 33, 0.38);
  --mat-checkbox-label-text-color: #181c21;
}
html .blue-theme .mat-primary.mat-mdc-slide-toggle {
  --mat-switch-track-outline-color: #717783;
  --mat-switch-disabled-unselected-track-outline-color: #181c21;
  --mat-switch-label-text-color: #181c21;
}
html .blue-theme .mat-primary.mat-mdc-button-base {
  --mdc-icon-button-icon-color: #1976d2;
}
html .blue-theme .mat-primary.mat-mdc-button-base {
  --mat-icon-button-state-layer-color: #1976d2;
  --mat-icon-button-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-primary .mdc-list-item__start,
html .blue-theme .mat-primary .mdc-list-item__end {
  --mat-checkbox-disabled-label-color: rgba(24, 28, 33, 0.38);
  --mat-checkbox-label-text-color: #181c21;
}
html .blue-theme .mat-badge {
  --mat-badge-background-color: #1976d2;
  --mat-badge-text-color: #ffffff;
  --mat-badge-disabled-state-background-color: rgba(25, 118, 210, 0.38);
  --mat-badge-disabled-state-text-color: #ffffff;
}
html .blue-theme .mat-accent {
  --mat-option-selected-state-label-text-color: #1976d2;
  --mat-option-selected-state-layer-color: #72b2eb;
}
html .blue-theme .mat-accent {
  --mdc-circular-progress-active-indicator-color: #1976d2;
}
html .blue-theme .mat-accent {
  --mat-full-pseudo-checkbox-selected-icon-color: #1976d2;
  --mat-full-pseudo-checkbox-selected-checkmark-color: #ffffff;
}
html .blue-theme .mat-accent {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #1976d2;
}
html .blue-theme .mat-accent {
  --mat-stepper-header-selected-state-icon-background-color: #1976d2;
  --mat-stepper-header-selected-state-icon-foreground-color: #ffffff;
  --mat-stepper-header-edit-state-icon-background-color: #1976d2;
  --mat-stepper-header-edit-state-icon-foreground-color: #ffffff;
}
html .blue-theme .mat-accent.mat-icon {
  --mat-icon-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-checkbox {
  --mdc-checkbox-selected-pressed-icon-color: #1976d2;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #1976d2;
  --mdc-checkbox-selected-hover-icon-color: #1976d2;
  --mdc-checkbox-selected-icon-color: #1976d2;
  --mdc-checkbox-selected-focus-state-layer-color: #1976d2;
  --mdc-checkbox-selected-hover-state-layer-color: #1976d2;
  --mdc-checkbox-unselected-pressed-state-layer-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-checkbox {
  --mat-checkbox-disabled-label-color: rgba(24, 28, 33, 0.38);
  --mat-checkbox-label-text-color: #181c21;
}
html .blue-theme .mat-accent.mat-mdc-slider {
  --mdc-slider-handle-color: #1976d2;
  --mdc-slider-focus-handle-color: #1976d2;
  --mdc-slider-hover-handle-color: #1976d2;
  --mdc-slider-active-track-color: #1976d2;
  --mdc-slider-with-tick-marks-active-container-color: #ffffff;
  --mdc-slider-label-container-color: #1976d2;
  --mdc-slider-label-label-text-color: #ffffff;
  --mdc-slider-with-overlap-handle-outline-color: #ffffff;
}
html .blue-theme .mat-accent.mat-mdc-slider {
  --mat-slider-ripple-color: #1976d2;
  --mat-slider-hover-state-layer-color: rgba(25, 118, 210, 0.05);
  --mat-slider-focus-state-layer-color: rgba(25, 118, 210, 0.2);
}
html .blue-theme .mat-accent.mat-mdc-tab-group, html .blue-theme .mat-accent.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-tab-group, html .blue-theme .mat-accent.mat-mdc-tab-nav-bar {
  --mat-tab-header-active-focus-indicator-color: #1976d2;
  --mat-tab-header-active-hover-indicator-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: #1976d2;
  --mdc-switch-selected-handle-color: #ffffff;
  --mdc-switch-selected-hover-state-layer-color: #1976d2;
  --mdc-switch-selected-pressed-state-layer-color: #1976d2;
  --mdc-switch-selected-focus-handle-color: #72b2eb;
  --mdc-switch-selected-hover-handle-color: #72b2eb;
  --mdc-switch-selected-pressed-handle-color: #72b2eb;
  --mdc-switch-selected-focus-track-color: #1976d2;
  --mdc-switch-selected-hover-track-color: #1976d2;
  --mdc-switch-selected-pressed-track-color: #1976d2;
  --mdc-switch-selected-track-color: #1976d2;
  --mdc-switch-selected-icon-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-slide-toggle {
  --mat-switch-track-outline-color: #717783;
  --mat-switch-disabled-unselected-track-outline-color: #181c21;
  --mat-switch-label-text-color: #181c21;
}
html .blue-theme .mat-accent.mat-mdc-form-field {
  --mat-select-focused-arrow-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-radio-button {
  --mdc-radio-selected-focus-icon-color: #1976d2;
  --mdc-radio-selected-hover-icon-color: #1976d2;
  --mdc-radio-selected-icon-color: #1976d2;
  --mdc-radio-selected-pressed-icon-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-radio-button {
  --mat-radio-checked-ripple-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #1976d2;
  --mdc-linear-progress-track-color: #72b2eb;
}
html .blue-theme .mat-accent.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: #1976d2;
  --mdc-filled-text-field-focus-active-indicator-color: #1976d2;
  --mdc-filled-text-field-focus-label-text-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-form-field {
  --mdc-outlined-text-field-caret-color: #1976d2;
  --mdc-outlined-text-field-focus-outline-color: #1976d2;
  --mdc-outlined-text-field-focus-label-text-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-form-field {
  --mat-form-field-focus-select-arrow-color: #1976d2;
}
html .blue-theme .mat-accent.mat-datepicker-content {
  --mat-datepicker-calendar-date-selected-state-text-color: #ffffff;
  --mat-datepicker-calendar-date-selected-state-background-color: #1976d2;
  --mat-datepicker-calendar-date-today-selected-state-outline-color: #1976d2;
  --mat-datepicker-calendar-date-in-range-state-background-color: #72b2eb;
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: #72b2eb;
  --mat-datepicker-calendar-date-today-outline-color: #1976d2;
  --mat-datepicker-calendar-date-preview-state-outline-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mdc-text-button-label-text-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mdc-protected-button-label-text-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mdc-filled-button-container-color: #1976d2;
  --mdc-filled-button-label-text-color: #ffffff;
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mdc-outlined-button-label-text-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mat-text-button-state-layer-color: #1976d2;
  --mat-text-button-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mat-protected-button-state-layer-color: #1976d2;
  --mat-protected-button-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mat-filled-button-state-layer-color: #ffffff;
  --mat-filled-button-ripple-color: rgba(255, 255, 255, 0.12);
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mat-outlined-button-state-layer-color: #1976d2;
  --mat-outlined-button-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mdc-icon-button-icon-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-button-base {
  --mat-icon-button-state-layer-color: #1976d2;
  --mat-icon-button-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-accent.mat-mdc-standard-chip {
  --mdc-chip-elevated-selected-container-color: #72b2eb;
  --mdc-chip-selected-hover-state-layer-color: #1976d2;
  --mdc-chip-selected-focus-state-layer-color: #1976d2;
  --mdc-chip-selected-label-text-color: #1976d2;
  --mdc-chip-with-icon-selected-icon-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-standard-chip {
  --mat-chip-selected-trailing-action-state-layer-color: #1976d2;
  --mat-chip-selected-trailing-icon-color: #1976d2;
}
html .blue-theme .mat-accent .mdc-list-item__start,
html .blue-theme .mat-accent .mdc-list-item__end {
  --mdc-checkbox-selected-pressed-icon-color: #1976d2;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #1976d2;
  --mdc-checkbox-selected-hover-icon-color: #1976d2;
  --mdc-checkbox-selected-icon-color: #1976d2;
  --mdc-checkbox-selected-focus-state-layer-color: #1976d2;
  --mdc-checkbox-selected-hover-state-layer-color: #1976d2;
  --mdc-checkbox-unselected-pressed-state-layer-color: #1976d2;
}
html .blue-theme .mat-accent .mdc-list-item__start,
html .blue-theme .mat-accent .mdc-list-item__end {
  --mat-checkbox-disabled-label-color: rgba(24, 28, 33, 0.38);
  --mat-checkbox-label-text-color: #181c21;
}
html .blue-theme .mat-accent .mdc-list-item__start,
html .blue-theme .mat-accent .mdc-list-item__end {
  --mdc-radio-selected-focus-icon-color: #1976d2;
  --mdc-radio-selected-hover-icon-color: #1976d2;
  --mdc-radio-selected-icon-color: #1976d2;
  --mdc-radio-selected-pressed-icon-color: #1976d2;
}
html .blue-theme .mat-accent .mdc-list-item__start,
html .blue-theme .mat-accent .mdc-list-item__end {
  --mat-radio-checked-ripple-color: #1976d2;
}
html .blue-theme .mat-accent.mat-mdc-fab, html .blue-theme .mat-accent.mat-mdc-mini-fab {
  --mdc-fab-container-color: #72b2eb;
}
html .blue-theme .mat-accent.mat-mdc-fab, html .blue-theme .mat-accent.mat-mdc-mini-fab {
  --mdc-fab-small-container-color: #72b2eb;
}
html .blue-theme .mat-accent.mat-mdc-fab, html .blue-theme .mat-accent.mat-mdc-mini-fab {
  --mat-fab-foreground-color: #1976d2;
  --mat-fab-state-layer-color: #1976d2;
  --mat-fab-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-accent.mat-mdc-fab, html .blue-theme .mat-accent.mat-mdc-mini-fab {
  --mat-fab-small-foreground-color: #1976d2;
  --mat-fab-small-state-layer-color: #1976d2;
  --mat-fab-small-ripple-color: rgba(25, 118, 210, 0.12);
}
html .blue-theme .mat-badge-accent {
  --mat-badge-background-color: #1976d2;
  --mat-badge-text-color: #ffffff;
  --mat-badge-disabled-state-background-color: rgba(25, 118, 210, 0.38);
  --mat-badge-disabled-state-text-color: #ffffff;
}
html .blue-theme .mat-warn {
  --mat-option-selected-state-label-text-color: #93000a;
  --mat-option-selected-state-layer-color: #ffdad6;
}
html .blue-theme .mat-warn {
  --mdc-circular-progress-active-indicator-color: #f44336;
}
html .blue-theme .mat-warn {
  --mat-full-pseudo-checkbox-selected-icon-color: #f44336;
  --mat-full-pseudo-checkbox-selected-checkmark-color: #ffffff;
}
html .blue-theme .mat-warn {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #f44336;
}
html .blue-theme .mat-warn {
  --mat-stepper-header-selected-state-icon-background-color: #f44336;
  --mat-stepper-header-selected-state-icon-foreground-color: #ffffff;
  --mat-stepper-header-edit-state-icon-background-color: #f44336;
  --mat-stepper-header-edit-state-icon-foreground-color: #ffffff;
}
html .blue-theme .mat-warn.mat-icon {
  --mat-icon-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-checkbox {
  --mdc-checkbox-selected-pressed-icon-color: #f44336;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #f44336;
  --mdc-checkbox-selected-hover-icon-color: #f44336;
  --mdc-checkbox-selected-icon-color: #f44336;
  --mdc-checkbox-selected-focus-state-layer-color: #f44336;
  --mdc-checkbox-selected-hover-state-layer-color: #f44336;
  --mdc-checkbox-unselected-pressed-state-layer-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-checkbox {
  --mat-checkbox-disabled-label-color: rgba(24, 28, 33, 0.38);
  --mat-checkbox-label-text-color: #181c21;
}
html .blue-theme .mat-warn.mat-mdc-slider {
  --mdc-slider-handle-color: #f44336;
  --mdc-slider-focus-handle-color: #f44336;
  --mdc-slider-hover-handle-color: #f44336;
  --mdc-slider-active-track-color: #f44336;
  --mdc-slider-with-tick-marks-active-container-color: #ffffff;
  --mdc-slider-label-container-color: #f44336;
  --mdc-slider-label-label-text-color: #ffffff;
  --mdc-slider-with-overlap-handle-outline-color: #ffffff;
}
html .blue-theme .mat-warn.mat-mdc-slider {
  --mat-slider-ripple-color: #f44336;
  --mat-slider-hover-state-layer-color: rgba(244, 67, 54, 0.05);
  --mat-slider-focus-state-layer-color: rgba(244, 67, 54, 0.2);
}
html .blue-theme .mat-warn.mat-mdc-tab-group, html .blue-theme .mat-warn.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-tab-group, html .blue-theme .mat-warn.mat-mdc-tab-nav-bar {
  --mat-tab-header-active-focus-indicator-color: #f44336;
  --mat-tab-header-active-hover-indicator-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-slide-toggle {
  --mdc-switch-selected-focus-state-layer-color: #f44336;
  --mdc-switch-selected-handle-color: #ffffff;
  --mdc-switch-selected-hover-state-layer-color: #f44336;
  --mdc-switch-selected-pressed-state-layer-color: #f44336;
  --mdc-switch-selected-focus-handle-color: #ffdad6;
  --mdc-switch-selected-hover-handle-color: #ffdad6;
  --mdc-switch-selected-pressed-handle-color: #ffdad6;
  --mdc-switch-selected-focus-track-color: #f44336;
  --mdc-switch-selected-hover-track-color: #f44336;
  --mdc-switch-selected-pressed-track-color: #f44336;
  --mdc-switch-selected-track-color: #f44336;
  --mdc-switch-selected-icon-color: #93000a;
}
html .blue-theme .mat-warn.mat-mdc-slide-toggle {
  --mat-switch-track-outline-color: #717783;
  --mat-switch-disabled-unselected-track-outline-color: #181c21;
  --mat-switch-label-text-color: #181c21;
}
html .blue-theme .mat-warn.mat-mdc-form-field {
  --mat-select-focused-arrow-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-radio-button {
  --mdc-radio-selected-focus-icon-color: #f44336;
  --mdc-radio-selected-hover-icon-color: #f44336;
  --mdc-radio-selected-icon-color: #f44336;
  --mdc-radio-selected-pressed-icon-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-radio-button {
  --mat-radio-checked-ripple-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #f44336;
  --mdc-linear-progress-track-color: #ffdad6;
}
html .blue-theme .mat-warn.mat-mdc-form-field {
  --mdc-filled-text-field-caret-color: #f44336;
  --mdc-filled-text-field-focus-active-indicator-color: #f44336;
  --mdc-filled-text-field-focus-label-text-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-form-field {
  --mdc-outlined-text-field-caret-color: #f44336;
  --mdc-outlined-text-field-focus-outline-color: #f44336;
  --mdc-outlined-text-field-focus-label-text-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-form-field {
  --mat-form-field-focus-select-arrow-color: #f44336;
}
html .blue-theme .mat-warn.mat-datepicker-content {
  --mat-datepicker-calendar-date-selected-state-text-color: #ffffff;
  --mat-datepicker-calendar-date-selected-state-background-color: #f44336;
  --mat-datepicker-calendar-date-today-selected-state-outline-color: #f44336;
  --mat-datepicker-calendar-date-in-range-state-background-color: #ffdad6;
  --mat-datepicker-calendar-date-today-outline-color: #f44336;
  --mat-datepicker-calendar-date-preview-state-outline-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mdc-text-button-label-text-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mdc-protected-button-label-text-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mdc-filled-button-container-color: #f44336;
  --mdc-filled-button-label-text-color: #ffffff;
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mdc-outlined-button-label-text-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mat-text-button-state-layer-color: #f44336;
  --mat-text-button-ripple-color: rgba(244, 67, 54, 0.12);
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mat-protected-button-state-layer-color: #f44336;
  --mat-protected-button-ripple-color: rgba(244, 67, 54, 0.12);
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mat-filled-button-state-layer-color: #ffffff;
  --mat-filled-button-ripple-color: rgba(255, 255, 255, 0.12);
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mat-outlined-button-state-layer-color: #f44336;
  --mat-outlined-button-ripple-color: rgba(244, 67, 54, 0.12);
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mdc-icon-button-icon-color: #f44336;
}
html .blue-theme .mat-warn.mat-mdc-button-base {
  --mat-icon-button-state-layer-color: #f44336;
  --mat-icon-button-ripple-color: rgba(244, 67, 54, 0.12);
}
html .blue-theme .mat-warn.mat-mdc-standard-chip {
  --mdc-chip-elevated-selected-container-color: #ffdad6;
  --mdc-chip-selected-hover-state-layer-color: #93000a;
  --mdc-chip-selected-focus-state-layer-color: #93000a;
  --mdc-chip-selected-label-text-color: #93000a;
  --mdc-chip-with-icon-selected-icon-color: #93000a;
}
html .blue-theme .mat-warn.mat-mdc-standard-chip {
  --mat-chip-selected-trailing-action-state-layer-color: #93000a;
  --mat-chip-selected-trailing-icon-color: #93000a;
}
html .blue-theme .mat-warn .mdc-list-item__start,
html .blue-theme .mat-warn .mdc-list-item__end {
  --mdc-checkbox-selected-pressed-icon-color: #f44336;
  --mdc-checkbox-selected-checkmark-color: #ffffff;
  --mdc-checkbox-selected-focus-icon-color: #f44336;
  --mdc-checkbox-selected-hover-icon-color: #f44336;
  --mdc-checkbox-selected-icon-color: #f44336;
  --mdc-checkbox-selected-focus-state-layer-color: #f44336;
  --mdc-checkbox-selected-hover-state-layer-color: #f44336;
  --mdc-checkbox-unselected-pressed-state-layer-color: #f44336;
}
html .blue-theme .mat-warn .mdc-list-item__start,
html .blue-theme .mat-warn .mdc-list-item__end {
  --mat-checkbox-disabled-label-color: rgba(24, 28, 33, 0.38);
  --mat-checkbox-label-text-color: #181c21;
}
html .blue-theme .mat-warn .mdc-list-item__start,
html .blue-theme .mat-warn .mdc-list-item__end {
  --mdc-radio-selected-focus-icon-color: #f44336;
  --mdc-radio-selected-hover-icon-color: #f44336;
  --mdc-radio-selected-icon-color: #f44336;
  --mdc-radio-selected-pressed-icon-color: #f44336;
}
html .blue-theme .mat-warn .mdc-list-item__start,
html .blue-theme .mat-warn .mdc-list-item__end {
  --mat-radio-checked-ripple-color: #f44336;
}
html .blue-theme .mdc-fab {
  --mdc-fab-container-color: var(--mat-sys-on-primary);
}
html .blue-theme .mdc-fab {
  --mat-fab-foreground-color: var(--mat-sys-primary);
}
html .blue-theme .mdc-fab {
  --mdc-fab-small-container-color: var(--mat-sys-on-primary);
}
html .blue-theme .mdc-fab {
  --mat-fab-small-foreground-color: var(--mat-sys-primary);
}
html .blue-theme .mdc-button.mat-warn {
  --mdc-filled-button-container-color: var(--mat-sys-error);
}
html .blue-theme .mdc-button.mat-primary {
  --mdc-filled-button-container-color: var(--mat-sys-primary);
}
html .blue-theme .mdc-fab.mat-warn {
  --mdc-fab-container-color: var(--mat-sys-error);
}
html .blue-theme .mdc-fab.mat-warn {
  --mat-fab-foreground-color: var(--mat-sys-on-primary);
}
html .blue-theme .mdc-fab.mat-warn {
  --mdc-fab-small-container-color: var(--mat-sys-error);
}
html .blue-theme .mdc-fab.mat-warn {
  --mat-fab-small-foreground-color: var(--mat-sys-on-primary);
}
html .blue-theme .mdc-fab.mat-primary {
  --mdc-fab-container-color: var(--mat-sys-primary);
}
html .blue-theme .mdc-fab.mat-primary {
  --mat-fab-foreground-color: var(--mat-sys-on-primary);
}
html .blue-theme .mdc-fab.mat-primary {
  --mdc-fab-small-container-color: var(--mat-sys-primary);
}
html .blue-theme .mdc-fab.mat-primary {
  --mat-fab-small-foreground-color: var(--mat-sys-on-primary);
}
html .blue-theme .mdc-icon-button.mat-warn {
  --mdc-icon-button-icon-color: var(--mat-sys-error);
}
html .blue-theme .mdc-icon-button.mat-primary {
  --mdc-icon-button-icon-color: var(--mat-sys-primary);
}
html .blue-theme {
  --mat-sidenav-container-shape: 0;
}
html .blue-theme .toast-error {
  background-color: var(--mat-sys-error) !important;
}
html .blue-theme .toast-info {
  background-color: var(--mat-sys-primary) !important;
}
html .blue-theme .toast-no-icon {
  background-image: none;
  padding-left: 6%;
}
html .blue-theme .toast-title {
  font-weight: bold;
}
html .blue-theme igo-actionbar-item {
  --mdc-list-list-item-one-line-container-height: 40px;
  --mdc-list-list-item-two-line-container-height: 56px;
  --mdc-list-list-item-three-line-container-height: 80px;
}
html .blue-theme igo-actionbar-item {
  --mat-list-list-item-leading-icon-start-space: 16px;
  --mat-list-list-item-leading-icon-end-space: 32px;
}
html .blue-theme igo-actionbar-item .mdc-list-item__start,
html .blue-theme igo-actionbar-item .mdc-list-item__end {
  --mdc-radio-state-layer-size: 32px;
}
html .blue-theme igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, html .blue-theme igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, html .blue-theme igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 48px;
}
html .blue-theme igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines, html .blue-theme igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines, html .blue-theme igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
  height: 64px;
}
html .blue-theme igo-entity-table {
  --mat-table-header-container-height: 52px;
  --mat-table-footer-container-height: 48px;
  --mat-table-row-item-container-height: 48px;
}
html .blue-theme igo-entity-selector {
  --mat-form-field-container-height: 48px;
  --mat-form-field-filled-label-display: none;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-filled-with-label-container-padding-top: 12px;
  --mat-form-field-filled-with-label-container-padding-bottom: 12px;
}
html .blue-theme igo-panel {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-panel .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 8px;
}
html .blue-theme igo-toolbox igo-actionbar-item {
  --mdc-list-list-item-one-line-container-height: 40px;
  --mdc-list-list-item-two-line-container-height: 56px;
  --mdc-list-list-item-three-line-container-height: 80px;
}
html .blue-theme igo-toolbox igo-actionbar-item {
  --mat-list-list-item-leading-icon-start-space: 16px;
  --mat-list-list-item-leading-icon-end-space: 32px;
}
html .blue-theme igo-toolbox igo-actionbar-item .mdc-list-item__start,
html .blue-theme igo-toolbox igo-actionbar-item .mdc-list-item__end {
  --mdc-radio-state-layer-size: 32px;
}
html .blue-theme igo-toolbox igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, html .blue-theme igo-toolbox igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, html .blue-theme igo-toolbox igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 48px;
}
html .blue-theme igo-toolbox igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines, html .blue-theme igo-toolbox igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines, html .blue-theme igo-toolbox igo-actionbar-item .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
  height: 64px;
}
html .blue-theme igo-context-list {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-context-list .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 8px;
}
html .blue-theme igo-context-list {
  --mdc-list-list-item-one-line-container-height: 40px;
  --mdc-list-list-item-two-line-container-height: 56px;
  --mdc-list-list-item-three-line-container-height: 80px;
}
html .blue-theme igo-context-list {
  --mat-list-list-item-leading-icon-start-space: 16px;
  --mat-list-list-item-leading-icon-end-space: 32px;
}
html .blue-theme igo-context-list .mdc-list-item__start,
html .blue-theme igo-context-list .mdc-list-item__end {
  --mdc-radio-state-layer-size: 32px;
}
html .blue-theme igo-context-list .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, html .blue-theme igo-context-list .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, html .blue-theme igo-context-list .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 48px;
}
html .blue-theme igo-context-list .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines, html .blue-theme igo-context-list .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines, html .blue-theme igo-context-list .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
  height: 64px;
}
html .blue-theme igo-context-list {
  --mat-form-field-container-height: 48px;
  --mat-form-field-filled-label-display: none;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-filled-with-label-container-padding-top: 12px;
  --mat-form-field-filled-with-label-container-padding-bottom: 12px;
}
html .blue-theme igo-context-item {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-context-item .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 8px;
}
html .blue-theme igo-directions-inputs .prefix-actions {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-directions-inputs .prefix-actions .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 28px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 2px;
}
html .blue-theme igo-draw-popup-component .igo-map-tooltip,
html .blue-theme igo-draw-popup-component .igo-map-tooltip,
html .blue-theme igo-draw-shorcuts .igo-map-tooltip,
html .blue-theme igo-draw .igo-map-tooltip {
  position: relative;
  border-radius: 4px;
  padding: 4px 8px;
  white-space: nowrap;
}
html .blue-theme igo-draw-popup-component .igo-map-tooltip-draw,
html .blue-theme igo-draw-popup-component .igo-map-tooltip-draw,
html .blue-theme igo-draw-shorcuts .igo-map-tooltip-draw,
html .blue-theme igo-draw .igo-map-tooltip-draw {
  font: var(--mat-sys-headline-small);
}
html .blue-theme igo-layer-legend {
  --mat-form-field-container-height: 44px;
  --mat-form-field-filled-label-display: none;
  --mat-form-field-container-vertical-padding: 10px;
  --mat-form-field-filled-with-label-container-padding-top: 10px;
  --mat-form-field-filled-with-label-container-padding-bottom: 10px;
}
html .blue-theme igo-layer-list-tool {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-layer-list-tool .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 8px;
}
html .blue-theme igo-layer-list-tool {
  --mat-form-field-container-height: 48px;
  --mat-form-field-filled-label-display: none;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-filled-with-label-container-padding-top: 12px;
  --mat-form-field-filled-with-label-container-padding-bottom: 12px;
}
html .blue-theme igo-map-browser {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-map-browser .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 8px;
}
html .blue-theme igo-catalog-browser {
  --mat-icon-button-touch-target-display: none;
}
html .blue-theme igo-catalog-browser .mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  width: var(--mdc-icon-button-state-layer-size);
  height: var(--mdc-icon-button-state-layer-size);
  padding: 8px;
}
html .blue-theme igo-catalog-browser {
  --mdc-list-list-item-one-line-container-height: 40px;
  --mdc-list-list-item-two-line-container-height: 56px;
  --mdc-list-list-item-three-line-container-height: 80px;
}
html .blue-theme igo-catalog-browser {
  --mat-list-list-item-leading-icon-start-space: 16px;
  --mat-list-list-item-leading-icon-end-space: 32px;
}
html .blue-theme igo-catalog-browser .mdc-list-item__start,
html .blue-theme igo-catalog-browser .mdc-list-item__end {
  --mdc-radio-state-layer-size: 32px;
}
html .blue-theme igo-catalog-browser .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, html .blue-theme igo-catalog-browser .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, html .blue-theme igo-catalog-browser .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: 48px;
}
html .blue-theme igo-catalog-browser .mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-two-lines, html .blue-theme igo-catalog-browser .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-two-lines, html .blue-theme igo-catalog-browser .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines {
  height: 64px;
}
html .blue-theme :root {
  font-size: var(--sdg-font-size-root-percent);
}
html .blue-theme body {
  color: var(--sdg-color-text);
  font-family: var(--sdg-font-family-text);
  font-size: var(--sdg-font-size-md);
}
html .blue-theme a {
  word-break: break-word;
  overflow-wrap: break-word;
  cursor: pointer;
  color: var(--sdg-color-blue-piv);
  text-decoration: underline;
  background-color: transparent;
  width: fit-content;
  max-inline-size: var(--sdg-max-content-width);
}
html .blue-theme a:hover {
  text-decoration: none;
}
html .blue-theme button {
  font-family: var(--sdg-font-family-text);
}
html .blue-theme p,
html .blue-theme ul,
html .blue-theme ol,
html .blue-theme u,
html .blue-theme .text {
  color: var(--sdg-color-text);
  font-size: var(--sdg-font-size-md);
  line-height: 24px;
  max-inline-size: var(--sdg-max-content-width);
}
html .blue-theme ul,
html .blue-theme ol {
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 16px;
}
html .blue-theme p {
  margin-bottom: 24px !important;
}
html .blue-theme li {
  margin-top: 16px;
  margin-bottom: 16px;
}
html .blue-theme strong {
  font-weight: 600;
}
html .blue-theme h1,
html .blue-theme h2,
html .blue-theme h3,
html .blue-theme h4,
html .blue-theme h5,
html .blue-theme h6,
html .blue-theme .h1,
html .blue-theme .h2,
html .blue-theme .h3,
html .blue-theme .h4,
html .blue-theme .h5,
html .blue-theme .h6 {
  font-family: var(--sdg-font-family-title) !important;
  font-weight: bold !important;
  color: var(--sdg-color-text);
  max-inline-size: var(--sdg-max-content-width);
}
html .blue-theme h1,
html .blue-theme .h1 {
  font-size: var(--sdg-font-size-h1);
  line-height: var(--sdg-line-height-h1);
  margin-top: var(--sdg-title-margin-h1-mt);
  margin-bottom: var(--sdg-title-margin-h1-mb);
}
html .blue-theme h1:after,
html .blue-theme .h1:after {
  content: "";
  display: block;
  margin: 0;
  width: 48px;
  padding-top: 4px;
  border-bottom: 4px solid var(--sdg-color-pink-normal);
}
@media (max-width: 575px) {
  html .blue-theme h1,
  html .blue-theme .h1 {
    font-size: var(--sdg-mobile-font-size-h1);
    line-height: var(--sdg-mobile-line-height-h1);
    margin-top: var(--sdg-spacer-lg) !important;
    margin-bottom: var(--sdg-spacer-sm) !important;
  }
}
html .blue-theme h2,
html .blue-theme .h2 {
  font-size: var(--sdg-font-size-h2);
  line-height: var(--sdg-line-height-h2);
  margin-top: var(--sdg-title-margin-h2-mt);
  margin-bottom: var(--sdg-title-margin-h2-mb);
}
@media (max-width: 575px) {
  html .blue-theme h2,
  html .blue-theme .h2 {
    font-size: var(--sdg-mobile-font-size-h2);
    line-height: var(--sdg-mobile-line-height-h2);
  }
}
html .blue-theme h3,
html .blue-theme .h3 {
  font-size: var(--sdg-font-size-h3);
  line-height: var(--sdg-line-height-h3);
  margin-top: var(--sdg-title-margin-h3-mt);
  margin-bottom: var(--sdg-title-margin-h3-mb);
}
@media (max-width: 575px) {
  html .blue-theme h3,
  html .blue-theme .h3 {
    font-size: var(--sdg-mobile-font-size-h3);
  }
}
html .blue-theme h4,
html .blue-theme .h4 {
  font-size: var(--sdg-font-size-h4);
  line-height: var(--sdg-line-height-h4);
  margin-top: var(--sdg-title-margin-h4-mt);
  margin-bottom: var(--sdg-title-margin-h4-mb);
}
html .blue-theme h5,
html .blue-theme .h5 {
  font-size: var(--sdg-font-size-h5);
  line-height: var(--sdg-line-height-h5);
  margin-top: var(--sdg-title-margin-h5-mt);
  margin-bottom: var(--sdg-title-margin-h5-mb);
}
html .blue-theme h6,
html .blue-theme .h6 {
  font-size: var(--sdg-font-size-h6);
  line-height: var(--sdg-line-height-h6);
  margin-top: var(--sdg-title-margin-h6-mt);
  margin-bottom: var(--sdg-title-margin-h6-mb);
}
html .blue-theme .accroche {
  font-size: var(--sdg-font-size-lg);
  line-height: var(--sdg-line-height-lg);
  font-weight: 600;
  max-width: var(--sdg-max-content-width);
  padding-bottom: 24px;
}