<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <li>Dependencies: ConfigService, LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/search">code of this example</a><br>
    See search section of the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/environments"> environment config</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view" igoOverlay>
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Search">

    <igo-search-bar
      placeholder="Address or layer"
      floatLabel="never">
    </igo-search-bar>

    <igo-feature-list
      igoSearchBarBinding
      [focusFirst]="false"
      (select)="handleFeatureSelect($event)">
    </igo-feature-list>

    <button
      mat-icon-button
      panelRightButton
      matTooltip="Reset map"
      (click)="resetMap()">
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
  </igo-panel>

</mat-card>
