<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <li>Dependencies: ConfigService, LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/search">code of this example</a><br>
    See search section of the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/environments"> environment config</a>
    <hr>
    <br>
    <span *ngIf="!isTouchScreen" title="Details">
      F2 activate/deactivate the pointer location.
    </span>
  </mat-card-content>

  <igo-map-browser #mapBrowser [map]="map" [view]="view" igoOverlay [igoContextMenu]=actionbarMenu igoLongPress

    igoSearchPointerSummary
    [igoSearchPointerSummaryDelay]="500"
    [igoSearchPointerSummaryEnabled]="igoSearchPointerSummaryEnabled"
    (menuPosition)="onContextMenuOpen($event)">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Search">
    <igo-search-bar
      [term]="term"
      (pointerSummaryStatus)="onPointerSummaryStatusChange($event)"
      [searchSettings]="true"
      [store]="searchStore"
      [termSplitter]="termSplitter"
      (searchTermChange)="onSearchTermChange($event)"
      (search)="onSearch($event)"
      (clearFeature)="removeFeatureFromMap()"
      (searchSettingsChange)="onSearchSettingsChange()">
    </igo-search-bar>

    <igo-search-results
      [store]="searchStore"
      [term]="term"
      [termSplitter]="termSplitter"
      placeholder="false"
      [settingsChange$]="settingsChange$"
      (resultFocus)="onResultFocus($event)"
      (resultSelect)="onResultFocus($event)"
      (moreResults)="onSearch($event)">
        <ng-template #igoSearchItemToolbar let-result="result">
          <igo-search-add-button
            [map]="map"
            [layer]="result">
          </igo-search-add-button>
        </ng-template>
    </igo-search-results>

  </igo-panel>

  <igo-panel *ngIf="selectedFeature" title="Details">
    <igo-feature-details [feature]="selectedFeature"></igo-feature-details>
  </igo-panel>

</mat-card>

<ng-template #actionbarMenu>
  <igo-actionbar
    [store]="store"
    [withIcon]="false"
    [horizontal]="true"
    [mode]="'context'">
  </igo-actionbar>
</ng-template>

