<mat-card appearance="outlined">
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Time filter</mat-card-title>
  <mat-card-content>
    <li>npm install --save moment@2.22.2</li>
    <li>npm install --save @mat-datetimepicker/core@3.0.0-beta.0</li>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/time-filter">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser [map]="map" [view]="view">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Layers">
    <igo-time-filter-list [layers]="map.layers"></igo-time-filter-list>
  </igo-panel>

</mat-card>
