<mat-card>
  <mat-card-subtitle>Geo</mat-card-subtitle>
  <mat-card-title>Query</mat-card-title>
  <mat-card-content>
    <li>Dependencies: LanguageService</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/geo/query">code of this example</a>
    <hr>
  </mat-card-content>

  <igo-map-browser
    [map]="map"
    [view]="view"
    igoOverlay
    igoQuery
    [queryFeatures]="true"
    (query)="handleQueryResults($event)">
    <igo-zoom-button [map]="map" color="primary"></igo-zoom-button>
  </igo-map-browser>

  <igo-panel title="Details">
    <ng-container *ngIf="feature$ | async as feature">
      <igo-feature-details [feature]="feature"></igo-feature-details>
    </ng-container>
  </igo-panel>

</mat-card>
