<mat-card>
  <mat-card-subtitle>Core</mat-card-subtitle>
  <mat-card-title>Message</mat-card-title>
  <mat-card-content>
    <p>Show message to user.</p>

    <li>Import <code>IgoMessageModule</code> only once</li>
    <li>Dependencies: BrowserAnimationsModule </li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/core/message">code of this example</a>
    <hr>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color='success' (click)="success()">Success message</button>
    <button mat-raised-button color='primary' (click)="info()">Info message</button>
    <button mat-raised-button color='accent' (click)="alert()">Alert message</button>
    <button mat-raised-button color='warn' (click)="error()">Error message</button>
  </mat-card-actions>
</mat-card>

