// https://design.quebec.ca/bases/couleurs#c118192
$color: (
  blue: (
    light: #dae6f0,
    light-2: #4a98d9,
    normal: #1479cc,
    normal-piv: #095797,
    medium: #19406c,
    dark: #223654
  ),
  grey: (
    light: #f1f1f2,
    light-2: #c5cad2,
    normal: #8893a2,
    medium: #6b778a,
    dark: #4e5662
  ),
  red: (
    pink-light: #ffdbd6,
    pink: #e58271,
    normal: #cb381f,
    dark: #692519
  ),
  green: (
    light: #d7f0bb,
    normal: #4f813d,
    dark: #2c4024
  ),
  yellow: (
    light: #f8e69a,
    normal: #e0ad03,
    dark: #ad781c
  )
);
