@require '../../../style/var.styl';
@require '../../../style/media.styl';

:host {
  position: relative;
  display: block;
}

:host, .igo-map-browser-target {
  width: 100%;
  height: 100%;
}

:host >>> igo-zoom-button {
  position: absolute;
  bottom: $igo-margin;
  right: $igo-margin;
  width: $igo-icon-button-width;
  +media(mobile) {
    display: none;
  }
}

:host >>> igo-user-button {
  position: absolute;
  bottom: $igo-margin;
  right: "calc(%s + 50px)" % $igo-margin;
  +media(mobile) {
    right: "calc(%s + 90px)" % $igo-margin;
  }
}

:host >>> igo-geolocate-button {
  position: absolute;
  bottom: 95px;
  right: $igo-margin;
  width: $igo-icon-button-width;
  +media(mobile) {
    bottom: $igo-margin;
  }
}

:host >>> .ol-attribution {
  left: $igo-margin;
  right: inherit;
  text-align: left;
  padding: 0;
}

:host >>> .ol-attribution ul {
  padding: 0;
}

:host >>> canvas {
  display: block;
}
