@use 'packages/core/src/style/all-style';

@use 'style/theme.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
  .mat-mdc-card-content>:last-child:is(hr) {
    margin-bottom: 0.5em !important;
  }
}

mat-card-actions, .actions-container {
  button:not(:last-child) {
    margin-right: 8px;
  }
}