@import '~dist/core/style/theming'; // replace ~dist by ~@igo2
@import '~dist/core/style/typography';
@import '~dist/common/style/common.theming'; // replace ~dist by ~@igo2
@import '~dist/geo/style/geo.theming'; // replace ~dist by ~@igo2

@mixin igo-all-theming($theme) {
  @include igo-theming($theme, $igo-typography);
  @include igo-common-theming($theme, $igo-typography);
  @include igo-geo-theming($theme, $igo-typography);
}

.blue-theme {
  @import '~dist/core/style/themes/blue.theme';
  @include igo-all-theming($theme);
}

.indigo-theme {
  @import '~dist/core/style/themes/indigo.theme';
  @include igo-all-theming($theme);
}

.deeppurple-theme {
  @import '~dist/core/style/themes/deeppurple.theme';
  @include igo-all-theming($theme);
}

.orange-theme {
  @import '~dist/core/style/themes/orange.theme';
  @include igo-all-theming($theme);
}

.bluegrey-theme {
  @import '~dist/core/style/themes/bluegrey.theme';
  @include igo-all-theming($theme);
}

.dark-theme {
  @import '~dist/core/style/themes/dark.theme';
  @include igo-all-theming($theme);
}

.teal-theme {
  @import '~dist/core/style/themes/teal.theme';
  @include igo-all-theming($theme);
}


.introjs-helperNumberLayer{
  position:relative !important;
  top:0px !important;
  left: 90% !important;
  border-radius: 0% !important;
  padding:6px !important;
}

.introjs-overlay{
  background-color: transparent !important;
    // display: none !important;
}


.igo-introjs-helperLayer:before {

  content: '' !important;
  position: absolute !important;
  // position: fixed !important;
  width: inherit !important;
  height: inherit !important;

  // border-radius: 0.5em !important;
  // border: .2em solid rgba(255, 217, 68, 0.8) !important; // probleme dans Aassemblage, fait bouger le vusuel de app
  // lorsque le carre accote en bas ex: liste contexte
  outline: .11em ridge rgba(255, 217, 68, 0.8) !important;

  box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.6) !important;
}

.igo-introjs-helperLayer {
  background: transparent !important;
  border: 0px !important;
}

.introjs-prevbutton {
  display:none !important;
}


// .introjs-donebutton {
//   color:red !important;
//   background-color: red !important;
// }
