@use '@angular/material' as mat;

.picker {
  left: 100%;
  position: absolute;
  top: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  @include mat.elevation(2);

  ::ng-deep .chrome-picker {
    box-shadow: none;
  }

  .buttons {
    padding: 4px 12px 8px;
    display: flex;
    justify-content: flex-end;
  }
}
