<mat-card appearance="outlined">
  <mat-card-subtitle>Core</mat-card-subtitle>
  <mat-card-title>language</mat-card-title>
  <mat-card-content>
    <p>Translate your angular application</p>

    <li>Import <code>IgoLanguageModule</code> only once</li>

    <br>
    See the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/app/core/language">code of this example</a><br>
    See language section of the <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/environments"> environment config</a><br>
    See <a href="https://github.com/infra-geo-ouverte/igo2-lib/tree/master/demo/src/locale">locale files</a>
    <hr>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="changeLanguage('en')">English</button>
    <button mat-raised-button (click)="changeLanguage('fr')">Français</button>
  </mat-card-actions>

  <p>{{'welcome' | translate: app}}<p>

</mat-card>
