@require '../../../style/var.styl';
@require '../../../style/media.styl';

.igo-user-button-container {
  button {
    background-color: #fff;
    &:hover {
      background-color: #efefef;
    }
  }
  & > button {
    +media(mobile) {
      position: absolute;
      bottom: 0;
    }
  }
}

.igo-user-button-more-container {
  float: left;
  height: 40px;
  & > * {
    margin-right: 2px;
    float: left;
  }
  +media(mobile) {
    height: 80px;
    width: 150px;
    position: relative;
    left: 24px;
  }
}

button,
:host >>> button .mat-button-ripple-round {
  border-radius: 0;
}
