# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
#

name: Pull Request

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: The branch or tag ref that triggered the workflow run.
      run: echo ${GITHUB_REF#refs/*/}

    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci --no-audit

    - name: Security
      run: npm audit --omit dev && npm audit signatures

    - name: Quality
      run: npm run circular-deps & npm run lint & npx prettier . --check

    - name: Test
      run: npm run e2e & npm run test

    - name: Build
      run: npm run build.libs
