# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
#

name: Release
on:
  push:
    branches:
      - master
      - next
      - ^release/[0-9]+(.[0-9]+)?.x$

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write # to enable use of OIDC for npm provenance
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci --no-audit

      - name: Security
        run: npm audit --omit dev && npm audit signatures

      - name: Quality
        run: npm run circular-deps & npm run lint & npm run format.check

      - name: Test
        run: npm run e2e & npm run test

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run release
